@use "../../../scss/global" as var;

.MainDiv {
    width: 50%;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postFeed {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1;
    width: 100%;
}
.feedNothing {
    position: absolute;
    margin: 25vh auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--borderWhLight);
    font-size: 28px;
    > span {
        margin-bottom: 1vh;
    }
}
.feedNothingTitle {
    font-size: 36px !important;
    margin-bottom: 3vh !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.feedNothingAdvices {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    > span {
        color: var(--borderWh);
        margin-top: 1vh;
        margin-bottom: 1vh;
        > a {
            text-decoration: underline;
            cursor: pointer;
        }
    } 
}
.inpfeedNothingWrapper {
    position: relative;
    margin: 1vh auto;
    width: 100%;
    > input {
        position: relative;
        @include var.input(var(--mc), var(--tc), var(--borderWh), 4vh, 8px, var(--tc));
        margin: 0;
        width: 100%;
    }
    >svg {
        position: absolute;
        width: 5%;
        aspect-ratio: 1/1;
        cursor: pointer;
        top: 0.6vh;
        right: 0vw;
        z-index: 2;
        color: var(--borderWh);
        &:hover {
            color: var(--tc);
        }
    }
}
