@use "../../../scss/global" as var;

.postWriteWrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 4;
    border-radius: 24px;
    margin-bottom: 1vh;

    @media (max-width: 800px) {
        left: 0;
        width: 100%;
        margin-bottom: 0;
        padding: 0 2.5vw 4vh;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            pointer-events: none;
            backdrop-filter: blur(var(--backdropTA));
            -webkit-backdrop-filter: blur(var(--backdropTA));
            background:linear-gradient(135deg, var(--tr), #0000009a);

            mask-image: linear-gradient(
                to bottom,
                transparent 0%,
                black 100%
            );
            -webkit-mask-image: linear-gradient(
                to bottom,
                transparent 0%,
                black 100%
            );
        }
    }
}
.postWriteBar {
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: var(--mc);
    color: var(--tc);
    height: 5vh;
    display: flex;
    padding-left: 0.5vw;
    gap: 0.5vw;
    align-items: center;
    &.pwBarwFiles::after {
        content: "";
        position: absolute;
        margin-top: 6vh;
        left: 2.5%;
        width: 95%;
        height: 1px;
        background-color: var(--borderHabit);
    }
}
.postWriteTA {
    width: 100%;
    background-color: var(--mc);
    resize: none;
    color: var(--tc);
    border-radius: 0 0 24px 24px;
    font-family: var(--font);
    font-size: 16px;
    padding: 0.5vh 0.5vw;
    scrollbar-width:thin;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding-inline-start: 0.5vw;
    &::placeholder {
        color: var(--borderHabit);
    }
    @media (max-width: 800px) {
        padding-inline-start: 2vw;
        outline: none;
    }
}
.postWriteSvgButt {
    height: 3.5vh;
    aspect-ratio: 1/1;
    cursor: pointer;
    color: var(--borderWh);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    transition: all 0s;
    >svg {
        width: 70%;
        height: 70%;
        stroke-width: 2.5px;
    }
    &:hover {
        color: var(--tc);
        background:linear-gradient(135deg, var(--accent), var(--grad));
    }
}
.postWriteSL {
    position: relative;
    @include var.selectList(10vw, 3.5vh, 9%, 0.3vw, 0.5vh, var(--inner_text), var(--tc), var(--bgc), 16px, 0.8vh, 0.4vw, 3%, true);
    > input {
        @include var.input(var(--darker_accent), var(--inner_text), var(--tr), 3.5vh, 24px, var(--inner_text));
        width: 100%;
        cursor: pointer;
        padding-inline-start: 0.5vw;
        @media (max-width:800px) {
            padding-left: 2vw;
        }
    }
    > div {
        border-radius: 12px;
        font-weight: 100;
        text-overflow: ellipsis;
        >div {
            color: var(--borderWh);
        }
    }
    @media (max-width:800px) {
        width: 50vw;
        padding-left: 2vw;
        > div {
            width: 50vw;
            padding-left: 1.5vw;
        }
        >svg {
            right: 2vw;
        }
    }
}
.pwTAButtWrapper {
    position: absolute;
    height: 10vh;
    bottom: 0;
    display: flex;
    align-items: center;
    right: 1vw;
    pointer-events: none;
}
.postWriteTAButt {
    border-radius: 50%;
    height: 4vh;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    cursor: pointer;
    position: absolute;
    right: 0.5vw;
    &:hover {
        background:linear-gradient(135deg, var(--accent), var(--grad));
        color: var(--inner_text);
    }
    @media (max-width:800px) {
        right: 4vw;
    }
}
.pwEmojiBar {
    left: 0 !important;
    border-radius: 12px !important;
}