@use "../global.scss" as var;

.addHabitDiv {
    @include var.centerTopModal;
    width: 28vw;
    min-height: auto;
    padding: 3vh 0 4vh;
    background-color: var(--mc);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 11;
}
.titleAddHabit {
    font-size: 32px;
    margin: 1vh 0 1vh;
}
.addHabitWrapper {
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    >label {
        color: var(--borderHabit);
        width: 100%;
        padding-left: 0.5vw;
        user-select: none;
    }
    &:focus-within {
        >label {
            color: var(--acsent);
        }
    }
    >span {
        position: absolute;
        right: 0;
        bottom: -2vh;
        font-size: 16px;
        color: var(--borderWh);
    }
}
.addHabitTimeWrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;
    >.addHabitWrapper {
        width: 48%;
    }
}
.addHabitInput {
    background-color: var(--tr);
    outline: none;
    border: none;
    border-bottom: 2px solid var(--borderHabit);
    padding-bottom: 0.5vh;
    color: var(--tc);
    font-size: 20px;
    width: 100%;
    padding-inline-start: 0.25vw;
    resize: none;
    overflow-y: hidden;
    &:focus-visible {
        border-bottom: 2px solid var(--acsent);

    }
}
.tegSelector {
    display: flex;
    margin-top: 0.5vh;
}
.addTeg {
    display: flex;
    align-items: center;
    color: var(--borderHabit);
    background-color: var(--bgc);
    padding: 0.5vh 0.5vw;
    gap: 0.3rem;
    border-radius: 6px;
    border: 1px solid var(--borderWh);
    outline: none;
    &:hover {
        color: var(--tc);
        cursor: pointer;
    }
}
.tagList {
    opacity: 0;
    top: 7vh;
    position: absolute;
    pointer-events: none;
    background-color: var(--bgc);
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    border-radius: 6px;
    max-height: 250px;
    overflow-y: scroll;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    z-index: 12;
    width: 100%;
    max-height: 20vh;
    scrollbar-width: thin;
    &.active {
        pointer-events: all;
        opacity: 1;
    }
}
.tag {
    display: flex;
    align-items: center;
    color: var(--borderHabit);
    background-color: var(--bgc);
    padding: 0.5vh 0.5vw;
    gap: 0.3rem;
    border-radius: 6px;
    border: 1px solid var(--borderWh);
    white-space: nowrap;    
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3.5vh;
    &:hover {
        color: var(--tc);
        cursor: pointer;
    }
    svg {
        flex-shrink: 0;
    }
    &.active {
        border: 1px solid var(--acsent);
        color: var(--acsent);
    }
}

.addHabbitCheckBox {
    margin-bottom: 1vh;
    color: var(--borderHabit);
    display: flex;
    align-items: center;
    font-size: 18px;
    >svg {
        color: var(--borderHabit);
        margin-right: 0.2vw;
        width: 22px;
        height: 22px;
    }
    >.active {
        color: var(--acsent);
    }
}
.inpWrapperAddHabit {
    color: var(--borderHabit);
    >label {
        padding-inline-start: 0.5vw;
    }
    &:focus-within {
        color: var(--acsent)
    }
}
.addHabitSL {
    @include var.selectList(100%, 4vh, 9%, 0.3vw, 0.8vh, var(--borderWh), var(--tc), var(--bgc), 18px, 1vh, 1vw, 10%);
    margin-bottom: 2vh;
    >input {
        @include var.input(var(--tr), var(--tc), var(--tr), 4vh, 0, var(--tr));
        border-bottom: 2px solid var(--borderHabit);
        width: 22vw;
        cursor: pointer;
        &:focus-visible {
            border-bottom: 2px solid var(--acsent);
        }
    }
    &:focus-within {
        >svg {
            color: var(--acsent);
        }
    }
}
.addHabitGoal {
    @include var.longButt(80%, 5vh, 0, 0, var(--tr), var(--borderHabit), var(--tr), var(--menuButtHover));
    margin-top: 2vh;
    font-size: 20px;
    &:hover {
        color: var(--tc);
    }
}
.addHabitSave {
    @include var.longButt(80%, 5vh, 0, 0, var(--acsent), var(--tc), var(--tr), var(--darkerAcsent));
    margin-top: 1vh;
    font-size: 20px;
}
.dayChanger {
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
    >button {
        flex: 1;
        border-radius: 6px;
        outline: none;
        border: 1px solid black;
        background-color: var(--bgc);
        color: var(--borderWh);
        aspect-ratio: 1/1;
        &:hover {
            background-color: var(--menuButtHover);
            color: var(--tc);
        }
    }
    >button.active {
        background-color: var(--darkerAcsent);
        color: var(--tc);
        &:hover {
            background-color: var(--acsent);
            color: var(--tc);
        }
    } 
}