@use '../global' as var;

.createChatDiv {
    @include var.centerModal;
    width: 25%;
    height: 80%;
    background-color: var(--mc);
    border-radius: 12px;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.createChatInfo {
    margin-top: 1vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    height: 35%;
}
.creteChatStr {
    display: flex;
    gap: 0.5vw;
    align-items: center;
}
.creteChatPickPre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--menuButtHover);
    cursor: pointer;
    >svg {
        color: var(--borderWh);
        width: 60%;
        height: 60%;
    }
    &:hover {
        background-color: var(--borderHabit);
        >svg {
            color: var(--tc);
        }
    }
}
.createChatPick {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.createChatWrapper {
    justify-content: end;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    > label {
        padding-inline-start: 0.5vw;
        font-size: 16px;
        user-select: none;
        color: var(--borderHabit);
    }
    &:focus-within {
        > label {
            color: var(--acsent);
        }
    }
    > span {
        font-size: 14px;
        color: var(--borderWh);
        position: absolute;
        right: 0;
        bottom: -1.7vh;
    }
}
.createChatname {
    width: 100%;
    height: 3vh;
    border: none;
    border-bottom: 2px solid var(--borderHabit);
    font-size: 20px;
    outline: none;
    background-color: var(--tr);
    color: var(--tc);
    &:focus {
        border-bottom: 2px solid var(--acsent);
    }
}
.createChatDesc {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--borderHabit);
    font-size: 16px;
    outline: none;
    resize: none;
    background-color: var(--tr);
    color: var(--tc);
    padding-top: 0.5vh;
    box-sizing: border-box;
    scrollbar-width:thin;
    height: 7vh;
    &:focus {
        border-bottom: 2px solid var(--acsent);
    }
}
.createChatList {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 0.2vh;
    height: 100%;
    background-color: var(--bgc);
    border-radius: 12px;
    >.loaderSmall {
        margin-top: 2vh;
    }
}
.createChatSearch {
    width: 100%;
    height: fit-content;
    background-color: var(--tr);
    border-radius: 12px;
    display: flex;
    align-items: center;
    position: relative;
    &:hover {
        > input {
            border-color: var(--borderWh);
        }
        > svg {
            color: var(--borderWh);
        }
    }
    >input {
        @include var.input(var(--tr), var(--tc), var(--borderHabit), 3.5vh, 12px, var(--acsent));
        width: 100%;
        padding-inline-start: 0.5vw;
        padding-inline-end: 2vw;
    }
    >svg {
        position: absolute;
        color: var(--borderHabit);
        right: 0.2vw;
        top: 0.5vh;
    }
    &:focus-within {
        >svg {
            color: var(--acsent);
        }
    }
}
.createChatChosenCons {
    width: 100%;
    gap: 0.4vh 0.2vw;
    display: flex;
    align-items:start;
    flex-wrap: wrap;
}
.createChatChosenCon {
    padding-inline-start: 0.3vh;
    height: 3vh;
    display: flex;
    align-items: center;
    gap: 0.2vw;
    border-radius: 16px;
    background-color: var(--menuButtHover);
    width: fit-content;
    padding-inline-end: 0.4vw;
    cursor: pointer;
    &:hover {
        background-color: var(--darkerAcsent);
        >.createChatConRemove {
            visibility: visible;
        }
    }
}
.createChatConRemove {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.createChatContact {
    padding-inline-start: 0.4vh;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    height: 4vh;
    color: var(--borderWh);
    gap: 0.4vw;
    border-radius: 18px;
    cursor: pointer;
    user-select: none;
    &:hover {
        background-color: var(--menuButtHover);
        color: var(--tc);
        >.creteChatConPick > svg {
            color: var(--tc);
        }
    }
}
.creteChatConPick {
    height: 87.5%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--mess);
    display: flex;
    justify-content: center;
    align-items: center;
    >img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
    > svg {
        width: 60%;
        height: 60%;
        color: var(--borderWh);
    }
}
.createChatConCheck {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    position: absolute;
    right: 0.4vw;
}
.createChatButt {
    margin: 1vh 0;
    width: 90%;
    height: 6vh;
    border: none;
    border-radius: 12px;
    background-color: var(--acsent);
    color: var(--tc);
    font-size: 20px;
    cursor: pointer;
    &:hover {
        background-color: var(--darkerAcsent);
    }
    &:disabled {
        background-color: var(--borderHabit);
        cursor: default;
    }
}