@use "../global.scss" as var;

.permissionsDiv {
    @include var.centerModal;
    width: 25vw;
    height: 70vh;
    background-color: var(--mc);
    border-radius: 6px;
    align-items: center;
    z-index: 11;
    overflow-y:auto;
    display: flex;
    overflow-x: hidden;
    transition: translate 0.2s ease;
    display: flex;
    flex-direction: column;
}
.slidesContainer {
    width: 50vw;
    height: 93%;
    display: flex;
    transition: transform 0.3s ease;
}
.permissionsSlide {
    width: 25vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y:auto;
    scrollbar-width:thin;
}
.permissionsSlide::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}
.permissionsWrapper {
    width: 100%;
    height: fit-content;
}
.permissionsName {
    border: 1px solid var(--borderHabit);
    background-color: var(--mc);
    border-radius: 6px;
    width: 100%;
    height: 5vh;
    align-items: center;
    padding-inline: 0.7vw;
    font-size: 20px;
    justify-content: space-between;
    display: flex;
    cursor: pointer;
    &:hover {
        background-color: var(--menuButtHover);
    }
}
.permissionsLength {
    display: flex;
    gap: 0.5vw;
    color: var(--acsent);
    >svg {
        width: 50%;
        height: 100%;
        color: var(--tc);
    }
}
.permissionsList {
    width: 98%;
    margin: 0 auto;
    // overflow: hidden;
}
.roleWrapper {
    margin-top: 0.2vh;
}
.role {
    width: 100%;
    height: 4.5vh;
    display: flex;
    border-radius: 6px;
    align-items: center;
    padding-inline: 0.5vw;
    justify-content: space-between;
    cursor: pointer;
    &:hover {
        background-color: var(--menuButtHover);
    }
}
.roleName {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.roleName1str {
    font-size: 18px;
    &.isMy {
        color: var(--acsent);
    }
    &.addRole {
        color: var(--tc);
        font-size: 16px;
    }
}
.roleName2str {
    font-size: 14px;
    color: var(--borderHabit);
}
.roleLength {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--borderHabit);
    > .caret {
        font-size: 20px;
    }
}
.keyWrapper {
    height: 3.5vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-inline: 0.5vw;
    border-radius: 6px;
    margin: 0 0 0.4vh;
    color: var(--borderWhLight);
    cursor: pointer;
    &.noteditable {
        color: var(--borderHabit);
        cursor: default;
    }
    > .toggler.disable {
        border-color: var(--borderHabit);
        > .togglerCircle {
            background-color: var(--borderHabit);
        }
    }
    &:hover {
        background-color: var(--menuButtHover);
    }
}
.permDiv {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
.memberItem {
    width: 100%;
    height: 4.5vh;
    font-size: 18px;
    display: flex;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    gap: 0.2vw;
    position: relative;
    &:hover {
        background-color: var(--menuButtHover);
    }
}
.memberImg {
    border-radius: 50%;
    height: 80%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgc);
    >img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
    > svg {
        width: 80%;
        height: 80%;
        color: var(--borderWh);
    }
}
.roleSpan {
    color: var(--borderHabit);
    font-size: 14px;
    position: absolute;
    right: 0;
}

// 2 slide

.permissionsBg {
    position: relative;
    background-color: var(--bgc);
    width: 100%;
    height: 20vh;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: -75%;
        transform: translateX(-50%);
        pointer-events: none;

        width: 120%;
        height: 150%;

        background: radial-gradient(
            ellipse at center,
            color-mix(in srgb, var(--acsent) 60%, transparent) 0%,
            color-mix(in srgb, var(--acsent) 40%, transparent) 30%,
            transparent 70%
        );

        filter: blur(25px);
        pointer-events: none;
    }
}
.infoWrapper {
    height: calc(100% - 20.5vh);
    margin-top: 0.5vh;
}
.roleDesc {
    color: var(--borderWh);
    width: 100%;
    background-color: var(--tr);
    border: none;
    outline: none;
    resize: none;
    font-size: 14px;
    overflow: hidden;
    padding-inline-start: 0.4vw;
}
.permBackSvg {
    height: 80%;
    display: flex;
    align-items: center;
    >svg {
        height: 90%;
        width: 90%;
    }
}
.roleInp {
    height: 4.5vh;
    padding: 0;
}
.permLabel {
    font-size: 14px;
    margin-top: 0.4vh;
    margin-left: 0.5vw;
    color: var(--borderHabit);
}
.permInp {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--tr);
    color: var(--tc);
    height: 100%;
    font-size: 18px;
    padding-inline:0.5vw;
    &:read-only {
        color: var(--borderWh);
        pointer-events: none;
    }
}
.permSL {
    @include var.selectList(100%, 100%, 9%, 0, 0.3vh, var(--borderWh), var(--tc), var(--bgc), 18px, 1vh, 1vw, 10%);
    > div {
        top: 70%;
    }
    > svg {
        height: 80%;
    }
    > input {
        @include var.input(var(--tr), var(--tc), var(--tr), 100%, 0, var(--tr));
        width: 100%;
        font-size: 18px;
        cursor: pointer;
        padding-inline: 0.5vw;
        border-bottom: 2px solid var(--tr);
        &:focus-visible {
            border-bottom: 2px solid var(--acsent);
        }
    }
    &:focus-within {
        > svg {
            color: var(--acsent);
        }
    }
    &.defRole {
        width: fit-content;
        > input {
            width: fit-content;
        }
    }
}
.permissionsButts {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    height: 7%;
    position: relative;
    justify-content: space-between;
    padding-left: 0.5vw;
    padding-right: 0.8vw;
}
.permsButtsDiv {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    right: 0;
    justify-self: flex-end;
    gap: 0.5vw;
}
.permButt {
    height: calc(100% - 0.6vw);
    width: 6vw;
    font-size: 18px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
    &.permBack{
        width: 5vw;
        &:hover {
            background-color: var(--menuButtHover);
        }
    }
    &.permCancel:hover {
        background-color: var(--borderWh);
    }
    &.permSave {
        background-color: var(--acsent);
        color: var(--tc);
        &:hover {
            color: var(--tc);
            background-color: var(--darkerAcsent);
        }
    }
}