@use "../global" as *;

.persTabDivDouble {
    display: flex;
    gap: 1vw;
}
.persDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}
.themeChanger {
    display: flex;
    background-color: var(--bgc);
    overflow: hidden;
    border-radius: 8px;
}
.themeSelector {
    font-size: 20px;
    color: var(--tc);
    padding: 1vh 1vw;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--bgc);
    &:hover {
        background-color: var(--menuButtHover);
    }
    &.active {
        background-color: var(--darkerAcsent);
    }
}
.persSL {
    @include selectList(100%, 4vh, 9%, 0.3vw, 0.8vh, var(--borderWh), var(--tc), var(--bgc), 18px, 0.8vh, 0.8vw, 5%);
    margin-bottom: 2vh;
    >input {
        @include input(var(--mc), var(--tc), var(--borderWh), 4vh, 8px, var(--tc));
        width: 20vw;
        cursor: pointer;
    }
}