@use "../../../scss/emojiBar";

.chatIsBlocked {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    height: calc(11dvh + 1px);
    background-color: var(--mc);
    >svg {
        font-size: 3rem;
        margin-bottom: 0.5vh;
    }
}
.chatTAWrapper {
    display: flex;
    flex-direction: column;
    width: 59%;
    position: absolute;
    bottom: 0;
    left: 20%;
    z-index: 4;
    padding-bottom: 1vh;
    border-radius: 24px;
    gap: .5vh;
    height: 6dvh;
    > div {
        width: 100%;
        position: absolute;
    }

    @media (max-width: 800px) {
        left: 0;
        width: 100%;
        margin-bottom: 0;
        padding: 0 2.5vw 3vh;
        height: 8vh;
        > div {
            width: calc(100% - 5vw);
        }
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            pointer-events: none;
            backdrop-filter: blur(var(--backdropTA));
            -webkit-backdrop-filter: blur(var(--backdropTA));
            background:linear-gradient(135deg, var(--tr), #0000009a);

            mask-image: linear-gradient(
                to bottom,
                transparent 0%,
                black 100%
            );
            -webkit-mask-image: linear-gradient(
                to bottom,
                transparent 0%,
                black 100%
            );
        }
    }
}
.chatWriteBar {
    width: 100%;
    border-radius: 24px;
    color: var(--tc);
    min-height: 0;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--interact);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    bottom: 0;
    position: absolute;
    width: calc(100% - 15vh);
    left: 9.5vh;
    &.open {
        width: 100%;
        left: 0;
        bottom: 105%;
        div {
            transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
}
.chatTAFiles {
    width: 100%;
    color: var(--tc);
    height: 8vh;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 0.5vw;
    padding: .5vh;
}
.chatTAFile {
    height: 100%;
    width: max-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chatTAFilePreview {
    height: 100%;
    width: 100%;
    width: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: transform 0.2s ease;
    transform: scale(1);
    pointer-events: none;
    @media (hover: hover) {
        &:hover {
            transform: scale(1.05);
            opacity: 1;
        }
    }
    @media (hover: none) {
        &:active {
            transform: scale(1.05);
            opacity: 1;
        }
    }
}

.chatTAFileOverlay {
    margin: 5% 0;
    position: absolute;
    inset: 0;
    background-color: #00000080;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.chatTAFileOther {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    width: 100%;
    background-color: var(--bgc);
    border-radius: 12px;
    overflow: hidden;
    > svg {
        font-size: 1rem;
        margin-bottom: 0.2vh;
        color: var(--accent_text); // Акцент для иконок
    }
    > span {
        font-size: 0.75rem;
        text-align: center;
        word-break: break-all;
    }
}
.chatTAStr {
    display: flex;
    min-height: 5vh;
    align-items: flex-end;
    position: relative;
    justify-content: space-between;
    @media (max-width: 800px) {
        gap: 1vw;
    }
}
.chatTA {
    resize: none;
    width: 100%;
    background-color: var(--tr);
    color: var(--tc);
    font-size: 16px;
    max-height: 50vh;
    min-height: 5vh;
    line-height: 1.35;
    padding: 1.35vh 1vw;
    box-sizing: border-box;
    scrollbar-width:thin;
    outline: none;
    border-radius: 24px;
    border: none;
    &::placeholder {
        vertical-align: middle; 
        color: var(--borderWhLight);
    }
    @media (max-width: 800px) {
        padding: 1vh 3vw;
    }
}
.chatTaButts {
    height: 5vh;
    padding: .5vh;
    border-radius: 24px;
    display: flex;
    align-items: center;
    background-color: var(--interact);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
}
.chatWriteSvgButt {
    height: 4vh;
    aspect-ratio: 1/1;
    cursor: pointer;
    color: var(--tc);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    transition: all 0s;
    >svg {
        width: 70%;
        height: 70%;
        stroke-width: 2.5px;
    }
    @media (hover: hover) {
        &:hover {
            color: var(--inner_text);
            background:linear-gradient(135deg, var(--accent), var(--grad));
        }
    }

    @media (hover: none) {
        &:active {
            color: var(--inner_text);
            background:linear-gradient(135deg, var(--accent), var(--grad));
        }
    }
}
.chatWriteTAButt {
    border-radius: 50%;
    height: 4vh;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background:linear-gradient(135deg, var(--accent), var(--grad));
    @media (hover: hover) {
        &:hover {
            background:linear-gradient(105deg, var(--accent), var(--grad));
        }
    }

    @media (hover: none) {
        &:active {
            background:linear-gradient(105deg, var(--accent), var(--grad));
        }
    }
}
.chatSend {
    font-size: 24px;
    fill: currentColor;
}
.answerDiv {
    padding: .5vh .5vh 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    height: 5vh;
    border-radius: 24px;
    align-items: center;
}
.closeAnswer {
    height: 4vh;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 24px;
    @media (hover: hover) {
        &:hover {
            background-color: var(--menuButtHover);
        }
    }
    @media (hover: none) {
        &:active {
            background-color: var(--menuButtHover);
        }
    }
    > svg {
        width: 50%;
        height: 50%;
    }
}
.answer {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: .75vw;
    @media (max-width: 800px) {
        padding-left: 2vw;
    }
    @media (hover: hover) {
        &:hover {
            background-color: var(--accent_hov);
        }
    }
    @media (hover: none) {
        &:active {
            background-color: var(--accent_hov);
        }
    }
}
.answer1str {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    > span {
        color: var(--borderWh);
    }
}
.answer2str {
    color: var(--accent_text);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}