@use "../../../scss/mixins" as var;

.chatUserInfo {
    cursor: pointer;
    display: flex;
    border-radius: 24px;
    flex: 1;
    transition: width 0.2s ease;
    height: 100%;
    overflow: hidden;
    @media (hover: hover) {
        &:hover {
            background-color: var(--menuButtHover);
        }
    }
    @media (hover: none) {
        &:active {
            background-color: var(--menuButtHover);
        }
    }
    @media (max-width:800px) {
        width: 100%;
        padding: 0 1vw;
    }
}
.chatUserMain {
    height: 100%;
    display: flex;
    width: 25%;
    overflow: hidden;
    transition: width 0.3s ease;
    @media (max-width: 800px) {
        width: 0;
        &.active {
            width: 100%;
        }
    }
}
.chatUserPick {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
        padding-left: 0.5vw;
    >svg {
        height: 95%;
        width: 95%;
    }
    >img.chatUserAvatar {
        height: 80%;
        width: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
        @media (max-width: 800px) {
            height: 80%;
        }
    }
    @media (max-width: 800px) {
        padding-left: 0.5vw;
    }
}
.chatUserName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.15vh;
    margin-left: 0.5vw;
    text-wrap: nowrap;
    @media (max-width: 800px) {
        gap: 0.1vh;
        margin-left: 1vw;
    }
}
.chatOnlineStauts {
    color: var(--borderWh);
    font-size: 14px;
    user-select: none;
    &.chatTyping {
        color: var(--accent_text);
    }
}
.chatUserMenu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: .25vh;
}
.chatUserMenuButt {
    height: 4vh;
    width: 4vh;
    border-radius: var(--tr);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--borderWh);
    @media (hover: hover) {
        &:hover {
            color: var(--tc);
            background-color: var(--menuButtHover);
        }
    }
    @media (hover: none) {
        &:active {
            color: var(--tc);
            background-color: var(--menuButtHover);
        }
    }
}
.userMenuCall {
    margin: 0.7vh 0.5vw 0.7vh 0.25vw;
    cursor: pointer;
    aspect-ratio: 1/1;
    display: flex;
    color: var(--borderHabit);
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    @media (hover: hover) {
        &:hover {
            color: var(--tc);
            background-color: var(--menuButtHover);
        }
    }
    @media (hover: none) {
        &:active {
            color: var(--tc);
            background-color: var(--menuButtHover);
        }
    }
    >svg {
        height: 60%;
        width: 60%;
        aspect-ratio: 1/1;
    }
}
.ChosenCountDiv {
    position: absolute;
    right: 0.75%;
    width: 11vw;
    background-color: var(--bgc);
    cursor: pointer;
    top: 6.75vh;
    border-radius: 12px;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.ChosenCount {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2vh 0;
}
.ChosenCountButt {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2px;
    padding: 1vh;
    color: var(--borderWh);
    @media (hover: hover) {
        &:hover {
        color: var(--tc);
        background-color: var(--menuButtHover);
    
        }
    }

    @media (hover: none) {
        &:active {
        color: var(--tc);
        background-color: var(--menuButtHover);
    
        
        }
    }
    &.delete {
        color: var(--notValid);
    }
}
