.chatIsBlocked {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 1vh;
    background-color: var(--mc);
    align-items: center;
    color: var(--borderWh);
    border-radius: 12px;
    font-size: 20px;
    height: 10vh;
    padding: 1vh 0.5vw;
    >svg {
        font-size: 3rem;
        margin-bottom: 0.5vh;
    }

    &.mobile {
        margin-bottom: 0;
    }
}

.chatTAWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 1vh;

    &.mobile {
        margin-bottom: 0;
    }
}
.chatWriteBar {
    width: 100%;
    border-radius: 12px 12px 0 0;
    background-color: var(--mc);
    color: var(--tc);
    height: 6vh;
    display: flex;
    padding-left: 0.5vw;
    gap: 0.5vw;
    align-items: center;
    &.chatBarwFiles::after {
        content: "";
        position: absolute;
        margin-top: 6vh;
        left: 2.5%;
        width: 95%;
        height: 1px;
        background-color: var(--borderHabit);
    }
}
.chatTAFiles {
    width: 100%;
    border-radius: 12px 12px 0 0;
    background-color: var(--mc);
    color: var(--tc);
    height: 8vh;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 0.5vh 0.5vw;
    gap: 0.5vw;
    &.chatTAFileswBar {
        border-radius: 0 !important;
    }
}
.chatTAFile {
    height: 100%;
    width: max-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.3vw;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Тень для превью

    &:hover .chatTAFileOverlay {
        opacity: 1;
    }
}

.chatTAFilePreview {
  height: 90%;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 12px;
  object-fit: cover;
  transition: transform 0.2s ease;

  &:hover {
      transform: scale(1.05);
  }
}

.chatTAFileOverlay {
    margin: 5% 0;
    position: absolute;
    inset: 0;
    background-color: #00000080;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.chatTAFileOther {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    width: 100%;
    background-color: var(--bgc);
    border-radius: 12px;
    overflow: hidden;
    > svg {
        font-size: 1.6rem;
        margin-bottom: 0.3vh;
        color: var(--acsent); // Акцент для иконок
    }
    > span {
        font-size: 0.75rem;
        text-align: center;
        word-break: break-all;
    }
}
.emojiBar {
    display: flex;
    flex-direction: column;
    background-color: var(--mc);
    width: 50%;
    height: 30vh;
    position: absolute;
    left: 50%;
    bottom: 110%;
    border-radius: 12px 12px 0 12px;
    overflow-y: scroll;
    padding: 0.5vh 0.5vw;
    scrollbar-width: thin;
    >.emjojiGroup {
        width: 100%;
        height: fit-content;
    }
    &.mobile {
        width: 90%;
        height: 30vh;
        left: 5%;
        bottom: 105%;
    }
}
.emojiList {
    display: flex;
    flex-wrap: wrap;
}
.emojiGroupName {
    color: var(--borderHabit);
}
.emoji {
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 7.5%;
    border-radius: 6px;
    &:hover {
        background-color: var(--menuButtHover);
    }
}

.chatTA {
    resize: none;
    width: 100%;
    background-color: var(--mc);
    color: var(--tc);
    font-size: 16px;
    height: 9vh;
    max-height: 50vh;
    border-radius: 12px;
    padding: 0.5vh 0.5vw;
    box-sizing: border-box;
    scrollbar-width:thin;
    &.chatTAwFiles {
        border-radius: 0 0 12px 12px;
    }
    &.mobile {
        border-radius: 12px 12px 0 0;
        outline: none;
    }
    &.mobile.chatTAwFiles {
        border-radius: 0;
    }
}
.chatWriteSvgButt {
    height: 4vh;
    aspect-ratio: 1/1;
    cursor: pointer;
    color: var(--borderWh);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0.1vh;
    border-radius: 6px;
    >svg {
        width: 70%;
        height: 70%;
        stroke-width: 2.5px;
    }
    &:hover {
        color: var(--tc);
        background-color: var(--acsent_hov);
    }
}
.chatWriteTAButt {
    border-radius: 50%;
    height: 4vh;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 0.5vw;
    &:hover {
        background-color: var(--acsent);
    }
}
.chatSend {
    font-size: 24px;
    fill: currentColor;
}
.answerDiv {
    display: flex;
    justify-content: space-between;
    width: 74%;
    cursor: pointer;
    height: 70%;
    >div {
        border-radius: 8px;
        &:hover {
            background-color: var(--acsent_hov);
        }
    }
}
.closeAnswer {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    > svg {
        width: 80%;
        height: 80%;
    }
}
.answer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.5vw;

}
.answer1str {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    > span {
        color: var(--borderWh);
    }
}
.answer2str {
    color: var(--acsent);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}