@use "../../../scss/global" as var;

.chatUser {
    border-radius: 0 0 8px 8px;
    height: 6vh;
    position: absolute;
    width: 100%;
    z-index: 4;
    display: flex;
    background-color: var(--mc);
    overflow-y: visible;
    border-bottom: 1px solid var(--bgc);
}
.chatUserBack {
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
        background-color: var(--menuButtHover);
    }
    >svg {
        color: var(--borderHabit);
        position: relative;
        right: 0.1vw;
        height: 100%;
        width: 100%;
    }
}
.chatUserInfo {
    cursor: pointer;
    display: flex;
    border-radius: 8px;
    flex: 1;
    transition: width 0.2s ease;
    &:hover {
        background-color: var(--menuButtHover);
    }
    
    &.mobile {
        width: 100%;
    }
}
.chatUserPick {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    padding-left: 0.5vw;
    margin-right: 0.5vw;
    >svg {
        height: 90%;
        width: 90%;
    }
    >img.chatUserAvatar {
        height: 90%;
        width: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
    }
}
.chatUserName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5vh;
    text-wrap: nowrap;
}
.chatOnlineStauts {
    color: var(--borderWh);
    &.chatTyping {
        color: var(--acsent);
    }
}
.userMenuCall {
    margin: 0.7vh 0.5vw 0.7vh 0;
    cursor: pointer;
    aspect-ratio: 1/1;
    display: flex;
    color: var(--borderHabit);
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    &:hover {
        color: var(--tc);
        background-color: var(--menuButtHover);
    }
    >svg {
        height: 60%;
        width: 60%;
        aspect-ratio: 1/1;
    }
}
.ChosenCountDiv {
    position: absolute;
    right: 0.75%;
    width: 11vw;
    background-color: var(--bgc);
    cursor: pointer;
    top: 6.75vh;
    border-radius: 12px;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.ChosenCount {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2vh 0;
    
}
.ChosenCountButt {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2px;
    padding: 1vh;
    color: var(--borderWh);
    &:hover {
        color: var(--tc);
        background-color: var(--menuButtHover);
    }
    &.delete {
        color: var(--notValid);
    }
}
