@use "../../../scss/global" as var;
@use "./message.scss";
@use "./chatTa.scss";
@use "./pinnedMessages.scss";
@use "./chatUser.scss";
@use "./chatSearch.scss";

.chatDiv {
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat {
    top: 6vh;
    height: 85%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
    position: relative;
    scrollbar-color: var(--menuButtHover) var(--tr);
    padding-bottom:1vh;
    width: 70%;
    margin: 0 auto 6vh;
    &.mobile {
        width: 100%;
    }
}
.goDown {
    position: absolute;
    background-color: var(--mc);
    height: 4vh;
    width: 4vh;
    z-index: 9;
    bottom: 108%;
    border-radius: 50%;
    left: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--borderHabit);
    opacity: 0.5;
    
    >svg {
        width: 80%;
        height: 80%;
    }
    &:hover {
        opacity: 1;
        color: var(--tc);
        background-color: var(--menuButtHover);
    }
}