@use "../../../scss/mixins" as var;

.chatSearchMain {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    border-radius: 24px;
    background-color: var(--interact);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
}
.chatSearch {
    background-color: var(--interact);
    background-color: var(--interact);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    border-radius: 24px;
    transition: width 0.2s ease;
    height: 5vh;
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 0.5vw;
    flex: 1;
    @media (max-width: 800px) {
        padding: 0;
    }
    >input {
        @include var.input(var(--tr), var(--tc), var(--tr), 100%, 24px, var(--tr));
        width: 100%;
        padding-inline-start: 0.25vw;
        padding-inline-end: 2vw;
        &::placeholder {
            color: var(--borderWhLight);
        }
        @media (max-width:800px) {
            padding-inline-start: 2vw;
            padding-inline-end: 10vw;
        }
        @media (hover: hover) {
            &:hover {
                border-color: var(--tc);
                > svg {
                    color: var(--tc);
                }
            }
        }
        @media (hover: none) {
            &:active {
                border-color: var(--tc);
                > svg {
                    color: var(--tc);
                }
            }
        }
    }
    >svg {
        position: absolute;
        font-size: 20px;
        right: 0.8vw;
        color: var(--borderHabit);
        @media (max-width:800px) {
            right: 2vw;
        }
    }
    &:focus-within {
        > input {
            border-color: var(--accent);
        }
        > svg {
            color: var(--accent_text);
        }
    }
}
.chatSearchInfo {
    user-select: none;
    display: flex;
    color: var(--tc);
    align-items: center;
    font-size: 18px;
    height: 5vh;
    padding-left:.5vw;
}
.chatSearchCarets {
    position: relative;
    display: flex;
    align-items: center;
}
.chatSearchDiv {
    user-select: none;
    position: absolute;
    bottom: 105%;
    background-color: var(--interact);
    width: 100%;
    transition: all .3s ease;
    overflow-x: hidden;
    border-radius: 24px;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    @media (max-width: 800px) {
        width: 95vw;
    }
}
.searchCount {
    font-size: 18px;
    padding: 1vh 1vw 0;
    @media (max-width: 800px) {
        padding: 1vh 2vw;
    }
}
.chatSearchDiv.open {
    opacity: 1;
    pointer-events: auto;
    max-height: 48vh;
    overflow: hidden;
    @media (max-width: 800px) {
        max-height: 40vh;
    }
}
.chatSearchDiv.closed {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
}
.chatSearchList {
    width: 100%;
    overflow-y:auto;
    scrollbar-width: thin;
    max-height: 32vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding: 0.5vh 0.25vw;
    @media (max-width: 800px) {
        padding: 0 1vw;
    }
}
.chatSearchItem {
    display: flex;
    height: 5vh;
    margin-bottom: 0.2vh;
    border-radius: 24px;
    gap: 0.5vw;
    position: relative;
    width: 100%;
    padding: 0.5vh 0.35vw;
    cursor: pointer;
    @media (hover: hover) {
        &:hover {
            background-color: var(--menuButtHover);
        }
    }

    @media (hover: none) {
        &:active {
            background-color: var(--menuButtHover);
        }
    }
    @media (max-width: 800px) {
        padding: .5vh 1vw;
    }
}
.chatSearchPic {
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
    user-select: none;
    >img {
        width: 100%;
        height: 100%;
        object-fit:cover;
        border-radius: 50%;
    }
}
.chatSearchItemInfo {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
}
.chatSearcSender {
    color: var(--tc);
    display: flex;
    justify-content: space-between;
}
.chatSearchDate {
    font-size: 14px;
    color: var(--tc);
    position: absolute;
    right: 1vw;
    @media (max-width: 800px) {
        right: 3vw;
    }
}
.chatSearchText {
    display: flex;
    width: fit-content;
    width: 80%;
    position: relative;
    color: var(--tc);
    >span {
        flex: 1 1 auto;
        width: fit-content;
        max-width: 100%;
        white-space: nowrap;        // не переносим на новую строку
        overflow: hidden;           // скрываем лишнее
        text-overflow: ellipsis;    // показываем "..."
    }
}