@use "../../../scss/mixins" as var;
@use "./message.scss";
@use "./chatTa.scss";
@use "./pinnedMessages.scss";
@use "./chatUser.scss";
@use "./chatSearch.scss";
@use "./chatChoosing.scss";

.chatDiv {
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.chat {
    position: relative;
    display: flex;
    flex-direction: column;
    scrollbar-width: thin;
    scrollbar-color: var(--menuButtHover) var(--tr);
    overflow-y: scroll;
    width: 60%;
    margin: 0 auto;
    height: 100%;
    padding-top: 6dvh;
    padding-bottom:6dvh;
    @media (max-width: 800px) {
        padding-bottom:8vh;
        width: 99%;
        padding-top: 6.5dvh;
        padding-right: 1vw;
        margin: 0 1vw;
        height: 100dvh;
    }
}
.goDown {
    position: absolute;
    background-color: var(--interact);
    height: 4dvh;
    width: 4dvh;
    z-index: 3;
    bottom: 108%;
    border-radius: 50%;
    left: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--borderHabit);
    opacity: 0.5;
    >svg {
        width: 80%;
        height: 80%;
    }
    @media (hover: hover) {
        &:hover {
            opacity: 1;
            color: var(--tc);
            background-color: var(--menuButtHover);
        }
    }
    @media (hover: none) {
        &:active {
            opacity: 1;
            color: var(--tc);
            background-color: var(--menuButtHover);
        }
    }
}