@use "../../../scss/global" as var;
@use "./message.scss";
@use "./chatTa.scss";

.chatDiv {
    width: 70%;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;

    &.mobile {
        width: 100%;
    }
}
.chatUser {
    border-radius: 0 0 8px 8px;
    height: 6vh;
    position: absolute;
    width: 100%;
    z-index: 4;
    display: flex;
    background-color: var(--mc);
    overflow-y: visible;
    border-bottom: 1px solid var(--bgc);
}
.chatUserBack {
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
        background-color: var(--menuButtHover);
    }
    >svg {
        color: var(--borderHabit);
        position: relative;
        right: 0.1vw;
        height: 100%;
        width: 100%;
    }
}
.chatUserInfo {
    cursor: pointer;
    display: flex;
    border-radius: 8px;
    width: 40%;
    transition: width 0.2s ease;
    &:hover {
        background-color: var(--menuButtHover);
    }
    
    &.mobile {
        width: 100%;
    }
}
.chatUserPick {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    padding-left: 0.5vw;
    margin-right: 0.5vw;
    >svg {
        height: 90%;
        width: 90%;
    }
    >img.chatUserAvatar {
        height: 90%;
        width: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
    }
}
.chatUserName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5vh;
    text-wrap: nowrap;
}
.chatOnlineStauts {
    color: var(--borderWh);
    &.chatTyping {
        color: var(--acsent);
    }
}
.chatUserMenu {
    height: 100%;
    display: flex;
    color: var(--borderHabit);
    flex: 1;
    width: 50%;
}
.menuButt {
    // margin: 1%;
    margin: 0.7vh 0.2vw;
    cursor: pointer;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    &:hover {
        color: var(--tc);
        background-color: var(--menuButtHover);
    }
    >svg {
        height: 70%;
        width: 70%;

    }
}
.chatSearchWrapeer {
    flex: 3;
    display: flex;
    position: relative;
    align-items: center;
    >.chatSearch {
        background-color: var(--hbg);
        width: 100%;
        border-radius: 8px;
        transition: width 0.2s ease;
        height: 100%;
        display: flex;
        position: relative;
        align-items: center;
        padding: 0 0.5vw;
        >input {
            @include var.input(var(--bgc), var(--tc), var(--borderHabit), 55%, 8px, var(--acsent));
            width: 100%;
            padding-inline-start: 0.5vw;
            padding-inline-end: 2vw;
        }
        >svg {
            position: absolute;
            right: 0.8vw;
        }
        &:focus-within {
            >svg {
                color: var(--acsent);
            }
        }
        &:hover {
            background-color: var(--menuButtHover);
        }
    }

    &.mobile {
        display: none;
    }
}
.chatSearchDiv {
    position: absolute;
    top: 6vh;
    padding: 0.5vh 0 0.5vh 0.5vw;
    z-index: 2;
    background-color: var(--mc);
    width: 100%;
    transition: height 0.2s ease;
    overflow-x: hidden;
    border-radius: 8px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    // max-height: 0;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.chatSearchDiv.open {
    opacity: 1;
    pointer-events: auto;
}
.chatSearchDiv.closed {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
}
.chatSearchList {
    width: 100%;
    overflow-y:auto;
    scrollbar-width: thin;
    max-height: 22vh;
    display: flex;
    flex-direction: column;
}
.chatSearchInfo {
    display: flex;
    color: var(--tc);
    align-items: center;
    font-size: 18px;
    justify-content: space-between;
    >div {
        position: relative;
        right: 1vw;
        > button {
            color: var(--tc);
            outline: none;
            border: none;
            border-radius: 6px;
            background-color: var(--hbg);
            width: 2vw;
            aspect-ratio: 1/1;
            >svg {
                width: 100%;
                top: 0.2vh;
                position: relative;
                height: 100%;
            }
            &:hover {
                background-color: var(--menuButtHover);
            }
        }
    }
}
.chatSearchItem {
    display: flex;
    height: 5vh;
    margin-bottom: 0.5vh;
    border-radius: 8px;
    gap: 0.5vw;
    position: relative;
    width: 100%;
    padding: 0.5vh 0.5vw 0 0.5vw;
    cursor: pointer;
    &:hover {
        background-color: var(--menuButtHover);
    }
}
.chatSearchPic {
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
    >img {
        width: 100%;
        height: 100%;
        object-fit:cover;
        border-radius: 50%;
    }
}
.chatSearchItemInfo {
    position: relative;
    width: 93%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chatSearcSender {
    color: #e0e0e0;
    display: flex;
    justify-content: space-between;
}
.chatSearchText {
    display: flex;
    width: 100%;
    position: relative;
    color: var(--borderWh);
    >span {
        flex: 1 1 auto;
        min-width: 0;
        white-space: nowrap;        // не переносим на новую строку
        overflow: hidden;           // скрываем лишнее
        text-overflow: ellipsis;    // показываем "..."
    }
}
.chat {
    top: 6vh;
    height: 85%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
    position: relative;
    scrollbar-color: var(--menuButtHover) var(--tr);
    padding-bottom:1vh;
    margin-bottom:6vh;
    width: 100%;
}

.reactionButt {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    user-select: none;
    cursor: pointer;
    height: 1.4rem;
    width: 1.5vw;
    font-size: 20px;
    >svg {
        color: #d60000;
    }
    &.myRB {
        right: 75px;
        background-color: var(--darkerAcsent);
        &:hover {
            background-color: var(--acsent);
        }
    }    
    &.urRB {
        left: 55px;
        background-color: var(--mess);
        &:hover {
            background-color: var(--borderHabit);
        }
    }
}
.reactions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3vw;
}
.reactionItem {
    display: flex;
    align-items: center;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    padding-left: 0.3vw;
    &.myR {
        margin-right: 0.5vw;
        &:hover {
            background-color: var(--acsent);
        }
    }
    &.urR {
        margin-left: 0.5vw;
        &:hover {
            background-color: var(--borderHabit);
        }
    }
    .reactionUsers {
        display: flex;
        align-items: center;
        gap: -0.3vw;

        .reactionUser {
            width: 1.3vw;
            height: 1.3vw;
            border-radius: 50%;
            overflow: hidden;

            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        span {
            margin-left: 0.3vw;
            color: var(--borderWh);
            font-size: 0.8rem;
        }
    }
}
// Эффект блюра для стеклянного декора
// [data-decor="glass"] {
//     .chatUser {
//         backdrop-filter: blur(12px);
//         -webkit-backdrop-filter: blur(12px);
//     }
// }
