@use "../../../scss/global" as var;

.chatSearchWrapeer {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    width: 92%;
    z-index: 4;
    >.chatSearch {
        background-color: var(--hbg);
        width: 100%;
        border-radius: 8px;
        transition: width 0.2s ease;
        height: 100%;
        display: flex;
        position: relative;
        align-items: center;
        padding: 0 0.5vw;
        >input {
            @include var.input(var(--bgc), var(--tc), var(--borderHabit), 55%, 8px, var(--acsent));
            width: 100%;
            padding-inline-start: 0.5vw;
            padding-inline-end: 2vw;
        }
        >svg {
            position: absolute;
            right: 0.8vw;
            color: var(--borderHabit);
        }
        &:focus-within {
            >svg {
                color: var(--acsent);
            }
        }
        &:hover {
            background-color: var(--menuButtHover);
        }
    }

    &.mobile {
        display: none;
    }
}
.chatSearchDiv {
    position: absolute;
    top: 6vh;
    padding: 0.5vh 0 0.5vh 0.5vw;
    z-index: 2;
    background-color: var(--mc);
    width: 50%;
    transform: translateX(50%);
    transition: height 0.2s ease;
    overflow-x: hidden;
    border-radius: 8px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    // max-height: 0;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.chatSearchDiv.open {
    opacity: 1;
    pointer-events: auto;
}
.chatSearchDiv.closed {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
}
.chatSearchList {
    width: 100%;
    overflow-y:auto;
    scrollbar-width: thin;
    max-height: 22vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.chatSearchInfo {
    display: flex;
    color: var(--tc);
    align-items: center;
    font-size: 18px;
    justify-content: space-between;
    >div {
        position: relative;
        right: 1vw;
        > button {
            color: var(--tc);
            outline: none;
            border: none;
            border-radius: 6px;
            background-color: var(--hbg);
            width: 2vw;
            aspect-ratio: 1/1;
            >svg {
                width: 100%;
                top: 0.2vh;
                position: relative;
                height: 100%;
            }
            &:hover {
                background-color: var(--menuButtHover);
            }
        }
    }
}
.chatSearchItem {
    display: flex;
    height: 5vh;
    margin-bottom: 0.2vh;
    border-radius: 8px;
    gap: 0.5vw;
    position: relative;
    width: 100%;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    cursor: pointer;
    &:hover {
        background-color: var(--menuButtHover);
    }
}
.chatSearchPic {
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
    user-select: none;
    >img {
        width: 100%;
        height: 100%;
        object-fit:cover;
        border-radius: 50%;
    }
}
.chatSearchItemInfo {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
}
.chatSearcSender {
    color: #e0e0e0;
    display: flex;
    justify-content: space-between;
}
.chatSearchDate {
    font-size: 14px;
    color: var(--borderWh);
    position: absolute;
    right: 0.3vw;
}
.chatSearchText {
    display: flex;
    width: fit-content;
    width: 80%;
    position: relative;
    color: var(--borderWh);
    >span {
        flex: 1 1 auto;
        width: fit-content;
        max-width: 100%;
        white-space: nowrap;        // не переносим на новую строку
        overflow: hidden;           // скрываем лишнее
        text-overflow: ellipsis;    // показываем "..."
    }
}