.messageWrapper {
    margin-top: 1vh;
    width: 100%;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    user-select: text;
}
.dateDivider {
    position: sticky;
    top: 2vh;
    z-index: 2;
    background-color: var(--mc);
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    color: var(--borderWh);
    font-size: 1rem;
    padding: 0.3vh 0.8vw;
    border-radius: 6px;
    opacity: 0.95;
}

.messageDate {
    display: flex;
    align-items: center;
    margin-top: 4px;
    height: 2vh;
}
.message {
    max-width: 25vw;
    width: fit-content;
    padding: 0.5vh 0.5vw;
    &.ur {
        background-color: var(--mess);
        border-radius: 12px 12px 12px 0;
        >.messageDate {
            color: var(--borderWh);
        }
    }
    &.my {
        align-self: flex-end;
        position: relative;
        background-color: var(--darkerAcsent);
        border-radius: 12px 12px 0 12px;
        display: flex;
        flex-direction: column;
        color: white;
        >.messageDate {
            color: #e0e0e0;
            align-self: flex-end;
        }
    }
}
.messageUnread {
    height: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin-left: 0.2vw;
    display: flex;
    align-items: center;
    >svg {
        width: 100%;
        height: 100%;
    }
}
.messageFiles {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vh 0.5vw;
    margin: 0.5vh 0;
    justify-content: flex-start;
    max-height: 60vh; // Ограничение максимальной высоты
}

.messageFile {
    flex: 1 1 calc(33.33% - 0.5vw); // Делим место: 3 файла в ряд
    aspect-ratio: 1/1;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        transform: scale(1.01);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

.messageFilePreview {
    width: 100%;
    height: 100%;
    object-fit: cover; // Cover для изображений/видео
    border-radius: 12px;
}
.messageFileOther {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--bgc);
    color: var(--tc);
    text-decoration: none; // Для a tag
    border-radius: 12px;
    padding: 0.5vh;

    > svg {
        font-size: 2rem; // Больший икон для видимости
        margin-bottom: 0.3vh;
        color: var(--acsent); // Акцентный цвет для иконок
    }

    > span {
        font-size: 0.8rem;
        text-align: center;
        word-break: break-all;
        color: var(--borderWh);
    }

    &:hover {
        background-color: var(--menuButtHover);
    }
}
.message.highlight {
    animation: highlightFade 2s ease;
    >.messageDate {
        color: var(--tc);
    }
}
.messageText {
    max-width: 25vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}