.messageWrapper {
    width: 100%;
    position: relative;
    height: fit-content;
    display: flex;
    user-select: text;
    border-radius: 12px;
    padding: 0.5vh 0.2vw;
    &.choosing:hover {
        background-color: var(--acsent_hov);
    }
    &.chosen {
        background-color: var(--on_con_menu_mess);
    }
    &.onContextMenu {
        background-color: var(--chosing_mess);
    }
    &.corner-single {
        border-radius: 12px;
    }
    &.corner-first {
        border-radius: 12px 12px 0 0; // скругление только сверху
    }

    &.corner-last {
        border-radius: 0 0 12px 12px; // скругление только снизу
    }

    &.corner-middle {
        border-radius: 0; // без скруглений
    }
}
.systemMessage {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    // margin: 1.5vh auto;
    background-color: var(--systemMessBg);
    color: var(--borderWhLight);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    min-height: 3vh;
    cursor: default;
    > div {
        margin-left: 3px;
    }
}
.systemMessageSender:hover {
    text-decoration: underline;
    cursor: pointer;
}
.messChoseButt {
    height: 2.5vh;
    width: 2.5vh;
    aspect-ratio: 1/1;
    margin: 1.5vh 0.2vw 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    >svg {
        height: 100%;
        width: 100%;
    }
    &:hover {
        background-color: #e0e0e08f;
    }
}
.dateDivider {
    position: sticky;
    top: 1vh;
    z-index: 2;
    background-color: var(--mc);
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    color: var(--borderWh);
    font-size: 1rem;
    padding: 0.3vh 0.8vw;
    border-radius: 6px;
    opacity: 0.95;
}
.message {
    max-width: 25vw;
    width: fit-content;
    padding: 0.6vh 0.3vw 0.4vh 0.4vw;
    max-height: max-content;
    position: relative;

    &.ur {
        background-color: var(--mess);
        border-radius: 12px 12px 12px 0;
        >.redirectedMess > .redirectSign > span {
            color: var(--acsent);
        }
    }
    &.my {
        justify-self:end;
        margin-left: auto;
        position: relative;
        background-color: var(--darkerAcsent);
        border-radius: 12px 12px 0 12px;
        display: flex;
        flex-direction: column;
        color: white;
        > .messageStatusBarDiv {
            justify-content: flex-end;
            > .messageBar {
                flex-direction: row-reverse;
            }
        }
    }
    &.mobile {
        max-width: 50vw;
        padding: 0.7vh 1vw;
    }
}
.senderName {
    color: var(--acsent);
    font-size: 14px;
    cursor: pointer;
    
}
.answerMess {
    min-width: 10vw;
    max-width: 25vw;
    cursor: pointer;
    padding: 0.25vh 0.2vw;
    margin: 0.2vh 0 0.4vh;
    border-radius: 0 4px 4px 0;
    border-left: 3px solid var(--tc);
    background-color: var(--on_con_menu_mess);
    &:hover {
        background-color: var(--chosing_mess);
    }
    > div {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.messageText {
    max-width: 25vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    > a {
        text-decoration: underline;
    }
    &.mobile {
        max-width: 100%;
    }
}
.messageStatusBarDiv {
    display: flex;
    align-items: center;
    margin-top: 2px;
    height: 2vh;
    color:#dfdfdf;
}
.messageBar {
    display: flex;
    align-items: center;
    gap: 0.2vw;
}
.messTime {
    font-size: 14px;
}
.editedMess {
    font-size: 12px;
}
.messBarSvg {
    height: 14px;
    width: 14px;
}
.reactionButt {
    position: absolute;
    bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    user-select: none;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5vw;
    font-size: 20px;
    >svg {
        color: #d60000;
    }
    &.myRB {
        right: 95%;
        background-color: var(--darkerAcsent);
        &:hover {
            background-color: var(--acsent);
        }
    }    
    &.urRB {
        left: 95%;
        background-color: var(--mess);
        &:hover {
            background-color: var(--borderHabit);
        }
    }
}
.reactions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3vw;
}
.reactionItem {
    display: flex;
    align-items: center;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    padding-left: 0.3vw;
    &.myR {
        margin-right: 0.5vw;
        &:hover {
            background-color: var(--acsent);
        }
    }
    &.urR {
        margin-left: 0.5vw;
        &:hover {
            background-color: var(--borderHabit);
        }
    }
    .reactionUsers {
        display: flex;
        align-items: center;
        gap: -0.3vw;

        .reactionUser {
            width: 1.3vw;
            height: 1.2vw;
            border-radius: 50%;
            overflow: hidden;

            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        span {
            margin-left: 0.3vw;
            color: var(--borderWh);
            font-size: 0.8rem;
        }
    }
}
.redirectSign {
    display: flex;
    align-items: center;
    font-size: 14px;
    color:#dfdfdf;
    >span {
        color: var(--tc);
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}
.redirectText {
    max-width: 25vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    > a {
        text-decoration: underline;
    }
    &.mobile {
        max-width: 100%;
    }
}

.messageReadSign {
    height: 90%;
    aspect-ratio: 1/1;
    margin-left: 0.2vw;
    display: flex;
    align-items: end;
    position: relative;
    &.read > svg {
        width: 100%;
        height: 100%;
    }
    &.unread > svg {
        width: 95%;
        height: 100%;
    }
}
.messageFiles {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vh 0.5vw;
    margin: 0.5vh 0;
    justify-content: flex-start;
    max-height: 62vh;
}

.messageFile {
    flex: 1 1 calc(33.33% - 0.5vw); // Делим место: 3 файла в ряд
    aspect-ratio: 1/1;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    
    &:hover {
        transform: scale(1.01);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

.messageFilePreview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.messageFileOther {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--bgc);
    color: var(--tc);
    text-decoration: none; // Для a tag
    border-radius: 12px;
    padding: 0.5vh;

    > svg {
        font-size: 2rem; // Больший икон для видимости
        margin-bottom: 0.3vh;
        color: var(--acsent); // Акцентный цвет для иконок
    }

    > span {
        font-size: 0.8rem;
        text-align: center;
        word-break: break-all;
        color: var(--borderWh);
    }

    &:hover {
        background-color: var(--menuButtHover);
    }
}
.messageWrapper.highlight {
    animation: highlightFadeWrapper 3s ease;
    > .message {
        animation: highlightFadeMessage 3s ease;
        >.messageDate {
            color: var(--tc);
            > .reactionButt {
                animation: highlightFadeReaction 3s ease;
            }
        }
    }
    
}
