.pmsMain {
    height: 100%;
    user-select: none;
    z-index: 4;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    height: 5vh;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background-color: var(--interact);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
}
.pmShowInfo {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    user-select: none;
    width: 15%;
    height: 100%;
    border-radius: 24px;
    padding: 0 .5vh 0 1vw;
    @media (max-width: 800px) {
        padding-left: 2vw;
        width: 23%;
    }
    @media (hover: hover) {
        &:hover {
            background-color: var(--menuButtHover);
        }
    }
    @media (hover: none) {
        &:active {
            background-color: var(--menuButtHover);
        }
    }
}
.pmsCount {
    color: var(--borderHabit);
    word-wrap: none;
    white-space: nowrap;
    color: var(--tc);
}
.pmsShowNow {
    white-space: nowrap;
    display: flex;
    position: relative;
    height: 100%;
    width: 85%;
    border-radius: 24px;
    padding-left: 1vw;
    align-items: center;
    @media (max-width: 800px) {
        padding-left: 3vw;
        width: 77%;
    }
    @media (hover: hover) {
        &:hover {
            background-color: var(--menuButtHover);
        }
    }
    @media (hover: none) {
        &:active {
            background-color: var(--menuButtHover);
        }
    }
}
.pmsSender {
    color: var(--accent_text);
    width: fit-content;
}
.pmsText {
    display: flex;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%; 
    text-overflow: ellipsis;
}
.showList {
    color: var(--borderHabit);
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (hover: hover) {
        &:hover {
            color: var(--accent_text);
        }
    }
    @media (hover: none) {
        &:active {
            color: var(--accent_text);
        }
    }
    > svg {
        width: 80%;
        height: 80%;
    }
}
.pmsList {
    user-select: none;
    position: absolute;
    padding: 0.5vh;
    background-color: var(--interact);
    width: 100%;
    bottom: 105%;
    transition: height 0.2s ease;
    overflow-x: hidden;
    border-radius: 24px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    scrollbar-width: thin;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
    @media (max-width: 800px) {
        width: 95vw;
    }
}
.pmsList.open {
    opacity: 1;
    pointer-events: auto;
    max-height: 30vh;
    @media (max-width: 800px) {
        max-height: 90vh;
    }
}
.pmsList.close {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
}
.pm {
    display: flex;
    height: 5vh;
    border-radius: 24px;
    gap: 0.5vw;
    position: relative;
    width: 100%;
    padding: 0.5vh .5vw;
    cursor: pointer;
    @media (hover: hover) {
        &:hover {
            background-color: var(--menuButtHover);
        }
    }
    @media (hover: none) {
        &:active {
            background-color: var(--menuButtHover);
        }
    }
}
.pmInMain {
    @media (max-width: 800px) {
        padding: 0.5vh 2vw;
    }
}