.pinnedMessages {
    height: 6vh;
    flex: 1;
    position: relative;
    max-width: 30%;
}
.pmsMain {
    height: 6vh;
    user-select: none;
    background-color: var(--mc);
    z-index: 4;
    position: relative;
    border-radius: 8px;
    // cursor: pointer;
    display: flex;
    &:hover {
        background-color: var(--menuButtHover);
        > .pmsCount {
            color: var(--borderWh);
        }
    }
}
.pmShowInfo {
    display: flex;
    flex-direction: column;
    width: 90%;
    position: relative;
    padding: 1vh 1vw;
}
.pmsCount {
    color: var(--borderHabit);
}
.pmsShowNow {
    white-space: nowrap;
    display: flex;
    width: 90%;
    position: relative;
}
.pmsSender {
    color: var(--acsent);
    width: fit-content;
}
.pmsText {
    display: flex;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%; 
    text-overflow: ellipsis;
}
.showList {
    color: var(--borderHabit);
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5vw;
    &:hover {
        color: var(--acsent);
    }
    > svg {
        width: 80%;
        height: 80%;
    }
}
.pmsList {
    position: absolute;
    padding: 0.5vh 1% 0.5vh 1%;
    background-color: var(--mc);
    width: 100%;
    transition: height 0.2s ease;
    overflow-x: hidden;
    border-radius: 8px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    max-height: 22vh;
    scrollbar-width: thin;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: top 0.5s ease;
}
.pmsList.open {
    opacity: 1;
    pointer-events: auto;
    top: 6vh;
}
.pmsList.close {
    opacity: 0;
    pointer-events: none;
    top: -20vh;
}
.pm {
    display: flex;
    height: 5vh;
    border-radius: 8px;
    gap: 0.5vw;
    position: relative;
    width: 100%;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    // cursor: pointer;
    &:hover {
        background-color: var(--menuButtHover);
    }
}