.pinnedMessages {
    height: 4.5vh;
    width: 0;
    transition: width .3s ease;
    position: absolute;
    left: 25%;
    @media (max-width:800px) {
        position: relative;
        left: 0;

    }
    &.active {
        width: 50%;
        @media (max-width: 800px) {
            width: 100%;
        }
    }
}
.pmsMain {
    height: 100%;
    user-select: none;
    background-color: var(--tr);
    z-index: 4;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    @media (hover: hover) {
        &:hover {
            background-color: var(--menuButtHover);
            > .pmsCount {
                color: var(--borderWh);
            }
        }
    }

    @media (hover: none) {
        &:active {
            background-color: var(--menuButtHover);
            > .pmsCount {
                color: var(--borderWh);
            }
        }
    }
}
.pmShowInfo {
    display: flex;
    flex-direction: column;
    width: 90%;
    position: relative;
    padding: 0 .75vw;
    justify-content: center;
}
.pmsCount {
    color: var(--borderHabit);
    word-wrap: none;
    white-space: nowrap;
}
.pmsShowNow {
    white-space: nowrap;
    display: flex;
    width: 90%;
    position: relative;
}
.pmsSender {
    color: var(--accent_text);
    width: fit-content;
}
.pmsText {
    display: flex;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%; 
    text-overflow: ellipsis;
}
.showList {
    color: var(--borderHabit);
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5vw;
    @media (hover: hover) {
        &:hover {
            color: var(--accent_text);
        }
    }

    @media (hover: none) {
        &:active {
            color: var(--accent_text);
        }
    }
    > svg {
        width: 80%;
        height: 80%;
    }
}
.pmsList {
    position: absolute;
    padding: 0.5vh;
    background-color: var(--mc);
    width: 47%;
    transition: height 0.2s ease;
    overflow-x: hidden;
    border-radius: 24px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    scrollbar-width: thin;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: top 0.5s ease;
    top: 5.5vh;
    left: 25%;
    @media (max-width: 800px) {
        width: 98%;
        left: 1%;
        top: 7.5vh;
    }
}
.pmsList.open {
    opacity: 1;
    pointer-events: auto;
    max-height: 30vh;
    @media (max-width: 800px) {
        max-height: 90vh;
    }
}
.pmsList.close {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
}
.pm {
    display: flex;
    height: 5vh;
    border-radius: 24px;
    gap: 0.5vw;
    position: relative;
    width: 100%;
    padding: 0.5vh 0.25vw 0.5vh 0.25vw;
    cursor: pointer;
    @media (hover: hover) {
        &:hover {
            background-color: var(--menuButtHover);
        }
    }
    @media (hover: none) {
        &:active {
            background-color: var(--menuButtHover);
        }
    }
}