@use "../../../scss/global" as var;

.calendarDiv {
    width: 20vw;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &.mobile {
        width: 90%;
        margin-bottom: 2vh;
    }
}
.calendarMain {
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--mc);
    width: 100%;
    padding: 1vh 1vw;
    min-height:39vh;
    height: fit-content;
}
.calendarDates {
    width: 100%;
    margin-bottom: 1vh;
}
.DateChanger {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1vh;
}
.setMonthButt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 3vh;
    cursor: pointer;
    font-size: 20px;
    color: var(--borderHabit);
    &:hover {
        background-color: var(--menuButtHover);
        color: var(--tc);
    }
    &.left {
        border-radius: 12px 0 0 12px;
    }
    &.right {
        border-radius: 0 12px 12px 0;
    }
}
.CalendarDateChanger {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.selectedDate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    width: auto;
    height: 5vh;
    padding: 0.5vh 0.6vw 0.5vh 0.8vw;
    z-index: 2;
    gap: 0.1vw;
    justify-content: center;
    > svg {
        color: var(--borderHabit);
    }
    &:hover {
        background-color: var(--menuButtHover);
        > svg {
            color: var(--tc);
        }
    }
    &.fixedWidth {
        width: 7vw;
    }
}
.monthsList {
    position: absolute;
    display: grid;
    top: 2vh;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5vh;
    width: fit-content;
    padding: 0.5vh 0.2vw;
    border-radius: 8px;
    border: 1px solid var(--borderHabit);
    opacity: 0;
    z-index: 4;
    transform: translateY(10%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    overflow: hidden;
    background-color: var(--mc);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    &.active {
        opacity: 1;
        transform: translateY(20%);
        pointer-events: auto;
    }
}

.monthListElem {
    aspect-ratio: 1/1;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    &:hover {
        background-color: var(--menuButtHover);
    }
    &.active {
        background-color: var(--borderHabit);
    }
}
.yearsList {
    position: absolute;
    display: flex;
    top: 2vh;
    flex-direction: column;
    width: 100%;
    padding: 0.5vh 0.2vw;
    border-radius: 8px;
    border: 1px solid var(--borderHabit);
    opacity: 0;
    z-index: 4;
    transition: opacity 0.3s ease, top 0.3s ease;
    pointer-events: none;
    overflow: hidden;
    background-color: var(--bgc);
    &.active {
        opacity: 1;
        top: 7vh;
        pointer-events: auto;
    }
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.yearListElem {
    font-size: 18px;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: var(--menuButtHover);
    }
    &.active {
        background-color: var(--borderHabit);
    }
}

.weekPattern {
    display: flex;
    gap: 0.5vw;
    margin-bottom: 1vh;
}
.weekDays {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    flex: 1;
    border-radius: 6px;
    background-color: var(--menuButtHover);
}
.calendarDays {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7,9fr);
    gap: 0.5vw;
}
.calDay {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    height: 100%;
    border-radius: 6px;
    box-sizing: border-box;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    &:hover {
        background-color: var(--menuButtHover);
    }
    &.prevDays {
        > span {
            color: var(--borderHabit);
        }
    }
    &.postDays {
        > span {
            color: var(--borderHabit);
        }
    }
    &.todayCD {
        > span {
            color: var(--acsent);
        }
    }
    &.chosenDayCal {
        outline: 1px solid var(--acsent);
        outline-offset: -1px; // чтобы не вылезала наружу
    }
}
.calendarDots {
    position: absolute;
    bottom: 15%;
    display: flex;
    gap: 20%;
}
.calendarDot {
    height: 0.5vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    &.comp {
        background-color: #11c011;
    }
    &.skip {
        background-color: #646464;
    }
    &.will {
        background-color: white;
    }
    &.nothing {
        background-color: #111111;
    }
}
.hoverDayDiv {
    position: fixed;
    background-color: var(--bgc);
    border: 1px solid var(--borderHabit);
    padding: 0.5vh 0.3vw;
    border-radius: 6px;
    max-width: 10vh;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    gap: 0.2vh;
    z-index: 3;
    max-width: 15vw;
}

.hoverRow {
    display: flex;
    align-items: center;
    white-space: pre-line;
    gap: 8px;
    color: var(--tc);
    font-size: 15px;
    &.hrEmpty {
        color: var(--borderHabit);
    }
}
.streakDiv {
    margin: 1vh 0;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5vh;
    border-radius: 8px;
    background-color: var(--mc);
}
.streakStr {
    display: flex;
    align-items: center;
    >svg {
        position: relative;
        bottom: 0.2vh;
    }
    &.cont {
        color: var(--tc);
        >svg {
            color: red;
        }
        > span {
            color: red;
        }
    }
    &.null {
        color: var(--borderHabit);
    }
    &.start {
        color: var(--tc);
        >svg {
            color: orange;
        }
        > span {
            color: orange;
        }
    }
    &.warn {
        color: var(--borderHabit);
        >svg {
            color: var(--tc);
        }
        > span {
            color: var(--tc);
        }
    }
}
.doneButt {
    @include var.longButt(100%, 4.5vh, 1vh, 1vw, var(--mc), var(--tc), var(--tr), var(--menuButtHover));
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    position: relative;
    margin-bottom: 1vh;
    >svg {
        margin-right: 0.3vw;
    }
    &.dbComp {
        >svg {
            color: var(--darkerAcsent);
        }
    }
    &:hover {
        &.dbComp {
            > svg {
                color: var(--tc);
            }
        }        
        &.dbMark {
            > svg {
                color: var(--acsent);
            }
        }
    }
}
.habitDayComment {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--mc);
    border-radius: 8px;
    padding: 1vh 1vw;
    align-items:end;
    >textarea {
        width: 100%;
        resize: none;
        background-color: var(--tr);
        color: var(--tc);
        font-size: 16px;
        font-family: var(--font);
        border: none;
        outline: none;
        overflow: hidden;
        field-sizing: content;
    }
}
.hdcTAExtra {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    >span {
        color: var(--borderHabit);
        display: flex;
        align-items: center;
        >svg {
            margin-right: 0.2vw;
        }
    }
    >div {
        color: var(--borderHabit);
        display: flex;
        align-items: center;
        gap: 0.5vw;
        >button {
            padding: 0.5vh 1vw;
            font-size: 16px;
            border-radius: 4px;
            border: none;
            outline: none;
            color: var(--tc);
            background-color: var(--acsent);
            border: 1px solid var(--acsent);
            &:hover {
                background-color: var(--darkerAcsent);
                border: 1px solid var(--darkerAcsent);
            }
            &:disabled {
                color: var(--borderHabit);
                background-color: var(--tr);
                border: 1px solid var(--borderHabit);
            }
        }
    }
    
}