@use "../../../scss/mixins" as var;

.doneCompSettings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    color: var(--borderWh);
    cursor: pointer;
    height: 3.5vh;
    width: 17vw;
    border-radius: 8px;
    @media (hover: hover) {
        &:hover {
        background-color: var(--menuButtHover);
        color: var(--tc);
    
        }
    }

    @media (hover: none) {
        &:active {
        background-color: var(--menuButtHover);
        color: var(--tc);
    
        
        }
    }
}