@use "../../../scss/global" as var;

.completeDiv {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: 40vh;
    background-color: var(--mc);
    border-radius: 12px;
}
.completeDate {
    border-bottom: 1px solid var(--borderHabit);
    font-size: 20px;
    padding: 0.5vh 0.5vw 0.25vh;
    width: 90%;
    text-align: center;
}
.completeMain {
    position: relative;
    width: 100%;
    padding: 0.5vh 0.25vw;
    flex: 1;
    height: calc(100% - 9vh);
}
@media (max-width:800px) {
    .completeDiv {
        min-height: 40vh;
        width: 100%;
    }
}
.doneButtDiv {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.doneButt {
    @include var.longButt(17vw, 3.7vh, 1vh, 1vw, var(--acsent), var(--tc), var(--tr), var(--acsent));
    user-select: none;
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
    border-radius: 8px;
    >svg {
        margin-right: 0.3vw;
    }
    &.dbComp {
        >svg {
            color: var(--tc);
        }
    }
    &:hover {
        box-shadow: 0 0 12px var(--acsent), 0 0 24px var(--acsent);
        &.dbComp {
            > svg {
                color: var(--tc);
            }
        }        
        &.dbMark {
            > svg {
                color: var(--tc);
            }
        }
    }
}
@media (max-width:800px) {
    .doneButt {
        width: 95%;
    }
}
