@use "../../../scss/global" as var;

.compJurnalDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 19.5vw;
    background-color: var(--mc);
    border-radius: 8px;
    align-items:end;
    min-height:0;
    height: max-content;
    height: 39vh;
}
.compJurnalMain {
    height: 100%;
    width: 100%;
}
.CJrecord {
    width: 100%;
    padding: 1vh 0.5vw;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
        background-color: var(--menuButtHover);
    }
}
.CJdates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.CJdate {
    display: flex;
    color: #11c011;
    align-items: center;
    gap: 0.2vw;
}
.CJcreated {
    color: var(--borderHabit);
    font-size: 14px;
}
.CJcomment {
    color: var(--borderWh);
    white-space: pre-wrap;
}