@use "../../../scss/global" as var;

.compJurnalMain {
    height: 80%;
    width: 100%;
}
.compJurnalsearch {
    width: 100%;
    > input {
        @include var.input(var(--mc), var(--tc), var(--borderHabit), 3vh, 8px, var(--tc));
        margin-bottom: 0.5vh;
        width: 100%;
    }
    > svg {
        @include var.svgInInput(2vh, 2.5vh, 2vw);
        color: var(--borderHabit);
        &.deleteSearchText {
            cursor: pointer;
        }
    }
    &:focus-within {
        > svg {
            color: var(--tc);
        }
    }
}
.CJrecord {
    width: 100%;
    padding: 1vh 0.5vw;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
        background-color: var(--menuButtHover);
    }
}
.CJdates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.CJdate {
    display: flex;
    color: #11c011;
    align-items: center;
    gap: 0.2vw;
}
.CJcreated {
    color: var(--borderHabit);
    font-size: 14px;
}
.CJcomment {
    color: var(--borderWh);
    white-space: pre-wrap;
}