@use "../../../scss/global" as var;

.completeDiv {
    width: 19.5vw;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100%;
    background-color: var(--mc);
    border-radius: 12px;
    &.mobile {
        width: 90%;
        margin-bottom: 2vh;
    }
}
.doneButt {
    @include var.longButt(100%, 5vh, 1vh, 1vw, var(--mc), var(--tc), var(--borderHabit), var(--menuButtHover));
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    position: relative;
    border-radius: 12px;
    >svg {
        margin-right: 0.3vw;
    }
    &.dbComp {
        >svg {
            color: var(--darkerAcsent);
        }
    }
    &:hover {
        &.dbComp {
            > svg {
                color: var(--tc);
            }
        }        
        &.dbMark {
            > svg {
                color: var(--acsent);
            }
        }
    }
}