@use "../../../scss/global" as var;

.dayCommentDiv {
    height: 100%;
    background-color: var(--mc);
    border-radius: 12px;
    width: 19.5vw;
    overflow: hidden;
}
.habitDayComment {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 19.5vw;
    border-radius: 12px;
    align-items:end;
    border: 1px solid var(--borderHabit);
    padding: 1vh 0.5vw;
    &:focus-within {
        border-color: var(--borderWh);
    }
    >textarea {
        width: 100%;
        resize: none;
        background-color: var(--tr);
        color: var(--tc);
        font-size: 16px;
        font-family: var(--font);
        border: none;
        outline: none;
        overflow: hidden;
        field-sizing: content;
    }
}
.completionProgress {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0.6vh 0.3vw;
    gap: 0.7vh;
    overflow-y: auto;
    scrollbar-width: thin;
}
.eventStr {
    position: relative;
    color: var(--borderHabit);
    &.emptyEvents {
        text-align: center;
    }
}
.eventTime {
    color: var(--borderWh);
}
.circleStr {
    display: flex;
    flex-direction: column;
}
.circleEditWrapper {
    width: 100%;
}
.circleInp {
    width: 100%;
    @include var.input(var(--tr), var(--borderWh), var(--tr), 3vh, 0, var(--tr));
    border-bottom: 1px solid var(--borderHabit);
    &:focus {
        border-bottom: 1px solid var(--acsent);
        color: var(--tc);
        padding-inline-end: 2vw;
    }
    &::placeholder {
        padding-inline-start: 0.2vw;
        color: var(--borderHabit);
    }
}
.sendCircle {
    position: absolute;
    color: var(--tc);
    display: flex;
    background-color: var(--acsent);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    height: 2vh;
    aspect-ratio: 1.3/1;
    cursor: pointer;
    bottom: 0.5vh;
    right: 0.2vw;
    > svg {
        width: 80%;
        height: 80%;
    }
}