@use "../../../scss/global" as var;

.diagramsDiv {
    position: relative;
    background-color: var(--mc);
    width: 19.5vw;
    display: inline-block;
    height: 39vh;
    border-radius: 12px;
    align-self: start;
    padding: 0vh 0.5vw;

    &.mobile {
        width: 90%;
        align-self: center;
    }
}
.diagram {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    > canvas {
        width: 100% !important;
        height: 100% !important;
        z-index: 3;
    }
}
.diagramLegend {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    cursor: pointer;
    z-index: 2;
}
.legendStr {
    display: flex;
    align-items: center;
    gap: 0.3vw;
    > span {
        min-width: 4ch;
    }
}