@use "../../../scss/global" as var;

.diagramsDiv {
    position: relative;
    background-color: var(--mc);
    width: 100%;
    display: flex;
    height: 39vh;
    border-radius: 12px;
    align-self: start;
    padding: 0vh 0.5vw;

    &.mobile {
        width: 100%;
        align-self: center;
        margin: 0 auto;
    }
}
.circleDiagramDiv {
    position: relative;
    background-color: var(--mc);
    width: 100%;
    display: inline-block;
    height: 100%;
    align-self: start;
    padding: 0vh 0.5vw;
}
.statsMenu {
    display: flex;
    flex-direction: column;
    width: 15%;
    border-right: 1px solid black;
}
.statsMenuButt {
    display: flex;
    align-items: center;
    padding: 1vh 1vw;
    width: 100%;
    color: var(--borderWh);
    cursor: pointer;
    font-size: 18px;
    &:hover {
        background-color: var(--menuButtHover);
        color: var(--tc);
    }
    &.active {
        background-color: var(--acsent);
        color: var(--tc);
        &:hover {
            background-color: var(--darkerAcsent);
        }
    }
}
.statsDivWrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 85%;
    overflow-y:hidden;
    position: relative;
}
.statsDivFilters {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-around;
}
.statsDivSlider {
    width: 100%;
    height: 300%;
    position: absolute;
}
.statsDivSlide {
    position: relative;
    height: calc(100% / 3);
    padding: 1vh 1vw;
}
.doneDiagram {
    width: 100%;
    height: 92%;
}