@use "../../../scss/global" as var;


.diagram {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    > canvas {
        width: 98%;
        height: 98%;
        z-index: 3;
    }
}
.diagramLegend {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    cursor: pointer;
    z-index: 2;
}
.legendStr {
    display: flex;
    align-items: center;
    gap: 0.3vw;
    > span {
        min-width: 4ch;
    }
}