@use "../../../scss/global" as var;

.extraHabitInfoDiv {
    width: 80%;
    margin: 1vh auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.extraHabitInfoShower {
    width: 100%;
    // color: var(--borderWh);
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        color: var(--tc);
        &::after {
            background-color: var(--tc);
        }
    }

    &::after {
        content: "";
        flex: 1;
        height: 1px;
        background-color: var(--borderWh);
    }
}
.extraHabitInfoSettings {
    overflow: hidden;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease;
    width: 100%;
    &.shown {
        grid-template-rows: 1fr;
    }
    > div {
        overflow: hidden;
    }
}
.extraHabitInfo {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    color: var(--borderWhLight);

    &.readonly {
        color: var(--borderHabit);
    }
}
.redHabitBlock {
    display: flex;
    flex-direction: column;
    gap: 0.3vh;
}
.redHabitStr {
    display: flex;
    justify-content: space-between;
}
.redHabitSpan {
    color: var(--borderWhLight);
    &.redHabitToggler {
        display: flex;
        justify-content: center;
        > .toggler.disable {
            border-color: var(--borderHabit);
            > .togglerCircle {
                background-color: var(--borderHabit);
            }
        }
    }
}
.redHabitSettingSpan {
    display: flex;
    color: var(--borderWh);
    cursor: pointer;
    gap: 0.25vw;
    &:hover {
        color: var(--tc);
    }
    &.disabled {
        color: var(--borderHabit);
        cursor: default;
    }
}
.techSpan {
    color: var(--borderHabit);
}
