@use "../../../scss/global" as var;

.statsFilter {
    @include var.selectList(20vw, 3vh, 2vh, 0.25vw, 0.25vh, var(--tc), var(--tc), var(--menuButtHover), 16px, 0.5vh, 0.5vw, 1%);
    > div > div:hover {
        background-color: var(--accent_text)
    }
    > input {
        @include var.input(var(--mc), var(--tc), var(--borderHabit), 3vh, 8px, var(--tc));
        width: 100%;
        cursor: pointer;
    }
    &.showOnly {
        > input {
            color: var(--borderHabit);
            border: 1px solid var(--borderHabit);
        }
        >svg {
            color: var(--borderHabit);
        }
    }
    @media (max-width:800px) {
        width: 31%;
        height: 4vh;
        >input {
            padding-inline-start: 1.5vw;
        }
        >div {
            width: 100%;
            padding-inline-start: 1.5vw;
        }
    }
}