@use "../../../scss/global" as var;

.habitPlusDiv {
    width: 21vw;
    margin: 0 auto;
}
.habitPlusButts {
    display: flex;
    flex-direction: column;
    gap: 0.2vh;
}
.addGoalButtDiv {
    @include var.longButt(100%, 5vh, 1vh, 1vw, var(--tr), var(--borderWh), var(--tr), var(--tr));
    display: flex;
    align-items: center;
    font-size: 18px;
    &:hover {
        color: var(--tc);
        background-color: var(--menuButtHover);
    }
}