@use "../../../scss/global" as var;

.statsDiv {
    position: relative;
    height: 100vh;
    overflow: hidden;
    &.mobile {
        height: auto;
        width: 100%;
        padding: 2vh 2vw;
        flex-direction: column;
        align-items: center;
    }
}
.StatsDivMain {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 1vh 0.5vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}
.StatsDivHabit {
    height: 39vh;
    display: flex;
    gap: 0.5vw;
}
.StatsDivStats {
    width: 100%;
    display: flex;
    gap: 0.5vw;
}
.statsCal {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-right: 2vw;
}
.habitMenu {
    position: fixed;
    width: 25vw;
    z-index: 7;
    display: flex;
    flex-direction: column;
    background-color: var(--mc);
    top: 5vh;
    height: 100vh;
    transition: right 0.3s ease;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    &.mobile {
        position: relative;
        width: 90%;
        height: auto;
        padding-bottom: 2vh;
    }
}
.habitMenuShowButt {
    position: absolute;
    z-index: 20;
    transform: translateY(-50%);
    width: 2vw;
    height: 10vh;
    background-color: var(--mc);
    top: 50%;
    border-radius: 20px 0 0 20px;
    left: -2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: var(--borderHabit);
    cursor: pointer;
    &:hover {
        color: var(--tc);
    }
}