@use "../../../scss/global" as var;

.statsDiv {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.StatsDivMain {
    flex: 1;
    min-height: 0;
    padding: 1vh 0.5vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    overflow-y: auto;
    scrollbar-width:thin;
    width: 100%;
}
@media (max-width:800px) {
    .StatsDivMain {
        padding: 0.2vh 0.5vw;
    }
}
.sdmwm {
    margin-top: 6vh;
}
.StatsDivHabit {
    height: 39vh;
    display: flex;
    gap: 0.5vw;
}
.statsDivStats {
    width: 100%;
    display: flex;
    border-radius: 12px;
    min-height: 50vh;
    overflow: hidden;
    background-color: var(--mc);
}
.statsCal {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-right: 2vw;
}
.habitMenu {
    position: fixed;
    width: 25vw;
    z-index: 7;
    display: flex;
    flex-direction: column;
    background-color: var(--mc);
    top: 6vh;
    border-left: 1px solid black;
    padding-top: 1vh;
    height: 100vh;
    overflow: hidden;
    transition: right 0.3s ease;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);

    &.mobile {
        position: fixed;
        top: 6vh;
        width: 100%;
        height: calc(100% - 6vh);
        border-left: none;
        padding: 2vh 0;
        z-index: 4;
    }
}
.habitSlider {
    display: flex;
    width: 200%;
    height: 100%;
    transition: transform 0.3s ease;
}

.habitSlider.toSlide {
    transform: translateX(-50%);
}

.habitSlide {
    width: 50%;
    flex-shrink: 0;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 6vh; // чтобы кнопка Save не перекрывала
    overflow-y: hidden;
}
.habitMenuShowButt {
    position: absolute;
    z-index: 20;
    transform: translateY(-50%);
    width: 2vw;
    height: 10vh;
    background-color: var(--mc);
    top: 50%;
    border-radius: 20px 0 0 20px;
    left: -2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: var(--borderHabit);
    cursor: pointer;
    &:hover {
        color: var(--tc);
    }
}
.habitSaveDiv {
    position: absolute;
    width: 100%;
    top: 86%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 6vh;
    gap: 4px;
}
.habitSaveHint {
    color: var(--borderWh);
}
.habitSave {
    position: absolute;
    bottom: 0;
    width: 84%;
    height: 4vh;
    background-color: var(--acsent);
    color: var(--tc);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid var(--tr);
    &:hover {
        box-shadow: 0 0 12px var(--acsent),
                    0 0 24px var(--acsent);
    }
    &.saving {
        background-color: var(--darkerAcsent);
        &:hover {
            box-shadow: 0 0 12px var(--darkerAcsent),
                        0 0 24px var(--darkerAcsent);
        }
    }
}
.habitInnerSlide {
    width: 85%;
    height: 100%;
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
    gap: 0.25vh;
}
@media (max-width: 800px) {
    .StatsDivMain {
        height: 100%;
        overflow-y: auto;
    }
    .StatsDivHabit {
        height: auto;
        flex-direction: column;
    }
}