@use "../../../scss/global" as var;

.redHabit {
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.habitFirstStr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.saveHabit {
    flex: 1;
    display: flex;
    >span {
        font-size: 18px;
        color: var(--tc);
        opacity: 0;
        animation: fadeIn 0.5s ease-in-out forwards, pulseBrightness 2s ease-in-out infinite;
    }
}
.habitWrapperIcon {
    display: flex;
    width: 80%;
    height: 6vh;
    >.addHabitWrapper {
        flex: 1;
    }
}
.habitIconWrapper {
    height: 100%;
    width: 20%;
    >svg {
        height: 100%;
        width: 100%;
        color: var(--acsent);
    }
}
.addHabbitCheckBox.redHabitCheckbox {
    margin-bottom: 0;
}
.ongoingInput {
    font-size: 16px;
}
.habitButts {
    display: flex;
    position: relative;
    width: 80%;
    margin: 1vh 0 0;
    justify-content: end;
    height: 4vh;
    >div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0.2vw;
        // padding: 1vh;
        aspect-ratio: 1/1;
        height: 100%;
        border-radius: 6px;
        cursor: pointer;
        right: 0;
        >svg {
            color: var(--borderHabit);
            font-size: 30px;
        }
        &:hover {
            background-color: var(--menuButtHover);
            >.pinHabit {
                color: var(--tc);
            }    
            >.delHabit {
                color: #c40000;
            }
        }
    }
}
.inpWrapperRedHabit {
    width: 80%;
    color: var(--borderHabit);
    margin-bottom: 1vh;
    >label {
        padding-inline-start: 0.5vw;
    }
    &:focus-within {
        color: var(--acsent)
    }
}
.thisarchived {
    width: 80%;
    height: fit-content;
    color: var(--borderHabit);
    display: flex;
    height: 2.4rem;
    margin: 0.2vh 0 0.5vh;
    gap: 0.5vw;
}
.thisarchivedSvg {
    height: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thisarchivedText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.redHabitSL {
    @include var.selectList(100%, 4vh, 9%, 0.3vw, 0.8vh, var(--borderWh), var(--tc), var(--bgc), 18px, 1vh, 1vw, 10%);
    >input {
        @include var.input(var(--tr), var(--tc), var(--tr), 4vh, 0, var(--tr));
        border-bottom: 2px solid var(--borderHabit);
        width: 100%;
        font-size: 18px;
        cursor: pointer;
        &:focus-visible {
            border-bottom: 2px solid var(--acsent);
        }
    }
    &:focus-within {
        >svg {
            color: var(--acsent);
        }
    }
}