@use "../../../scss/global" as var;

.streakStr {
    display: flex;
    align-items: center;
    font-size: 14px;
    >svg {
        position: relative;
    }
    &.warn {
        color: var(--borderHabit);
        >svg {
            color: var(--tc);
        }
        > span {
            color: var(--tc);
        }
    }
    &.null {
        color: var(--borderHabit);
    }
    &.max {
        color: var(--tc);
        >svg {
            color: #892dd4;
        }
        > span {
            color: #892dd4;
        }
    }
    &.comp {
        color: var(--tc);
        >svg {
            color: #4DA3FF;
        }
        > span {
            color: #4DA3FF;
        }
    }
    &.month {
        color: var(--tc);
        >svg {
            color: #2ed118;
        }
        > span {
            color: #2ed118;
        }
    }
    &.half {
        color: var(--tc);
        >svg {
            color: red;
        }
        > span {
            color: red;
        }
    }
    &.week {
        color: var(--tc);
        >svg {
            color: #ff8800;
        }
        > span {
            color: #ff8800;
        }
    }
    &.start {
        color: var(--tc);
        >svg {
            color: #ffc400;
        }
        > span {
            color: #ffc400;
        }
    }

}