@use "../../../scss/global" as var;

.timerDiv {
    width: 19.5vw;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100%;
    background-color: var(--mc);
    border-radius: 12px;
    &.mobile {
        width: 90%;
        margin-bottom: 2vh;
    }
}
.timerMain {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1vh 0.75vw;
    height: 100%;
}
.timerNums {
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.untilNums {
    color: var(--borderWh);
    user-select: none;
}
.timerLeft {
    color: var(--acsent);
    font-size: 20px;
}
.timerButts {
    display: flex;
    gap: 1vw;
    margin-top: 2vh;
}
.launchButt {
    border-radius: 50%;
    background-color: var(--acsent);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 5vh;
    aspect-ratio: 1/1;
    > svg {
        height: 50%;
        width: 50%;
    }
    &.disabled {
        cursor: default;
        pointer-events: none;
        background-color: var(--borderHabit)
    }
}
.doneButt {
    @include var.longButt(100%, 5vh, 1vh, 1vw, var(--mc), var(--tc), var(--borderHabit), var(--menuButtHover));
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    position: relative;
    border-radius: 12px;
    >svg {
        margin-right: 0.3vw;
    }
    &.dbComp {
        >svg {
            color: var(--darkerAcsent);
        }
    }
    &:hover {
        &.dbComp {
            > svg {
                color: var(--tc);
            }
        }        
        &.dbMark {
            > svg {
                color: var(--acsent);
            }
        }
    }
}