@use "../../../scss/global" as var;

.completeMain {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1vh 0.75vw;
    height: 100%;
}
.timerNums {
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.untilNums {
    color: var(--borderWh);
    user-select: none;
}
.timerLeft {
    color: var(--acsent);
    font-size: 20px;
}
.timerButts {
    display: flex;
    gap: 0.5vw;
    margin-top: 2vh;
    align-items: center;
}
.launchButt {
    border-radius: 50%;
    background-color: var(--darkerAcsent);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 5vh;
    aspect-ratio: 1/1;
    > span {
        outline: none;
    }
    &:hover {
        background-color: var(--acsent);
    }
    > svg {
        height: 50%;
        width: 50%;
    }
    &.disabled {
        cursor: default;
        pointer-events: none;
        background-color: var(--borderHabit)
    }
    &.editing {
        cursor: text;
        background-color: var(--borderHabit);
    }
}