@use "../../../scss/global" as var;

.timerDiv {
    width: 19vw;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 98vh;
    margin-left: 0.5vw;
    &.mobile {
        width: 90%;
        margin-bottom: 2vh;
    }
}
.timerMain {
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--mc);
    width: 100%;
    padding: 1vh 0.75vw;
    min-height:39vh;
    height: fit-content;
}
.launchButt {
    border-radius: 50%;
    background-color: var(--acsent);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 5vh;
    aspect-ratio: 1/1;
    > svg {
        height: 50%;
        width: 50%;
    }
}