@use "../global" as *;

.contactsUser {
    cursor: pointer;
    margin: 0.5vh auto;
    width: 100%;
    height: 6vh;
    padding: 0.5vh 0.5vw;
    border-radius: 12px;
    background-color: $tr;
    display: flex;
    &:hover {
        background-color: $menuButtHover;
    }
}
.contactsUserPic {
    aspect-ratio: 1/1;
    color: $borderWh;
    >svg {
        height: 100%;
        width: 100%;
    }
}
.contactsUserInfo {
    flex: 1;
    margin-left: 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contactsUserStr {
    display: flex;
    width: 100%;
}
.secSpan {
    color: $darkerAcsent;
    margin-left: 0.3vw;
}
.contactsNothing {
    color: $borderHabit;
    margin-top: 1vh;
    text-align: center;
    font-size: 20px;
}
.contactsUser.active {
    background-color: $darkerAcsent;
    >.contactsUserPic > svg {
        color: $tc;
    }
    >.contactsUserInfo > .contactsUserStr> .secSpan {
        color: $tc;
    }
}
.lastMess {
    display: flex;
    width: 100%;
    justify-content: space-between;
    >.lmc {
        white-space: nowrap;        // не переносим на новую строку
        overflow: hidden;           // скрываем лишнее
        text-overflow: ellipsis;    // показываем "..."
        max-width: 200px;    
    }
}
