@use "../mixins" as var;
@use "smNav";
@use "smAccount";

.sideMenu {
    position: fixed;
    top: 0;
    width: 19.5vw;
    height: 100%;
    background-color: var(--mc);
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    z-index: 8;
    transition: transform 0.4s ease;
    will-change: transform;
    touch-action: none;
    @media (max-width: 800px) {
        width: 100%;
        left: 0;
        height: 101%;
        &.open {
            transform: translateX(0);
        }
    }
}
.sideMenuBackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    z-index: 7;
    pointer-events: none;
    will-change: width;

    > .background {
        position: absolute;
        inset: 0;
        width: 100vw;
        height: 100%;
    }

    @media (min-width: 801px) {
        display: none;
    }
}
.sideMenuUnAthorised {
    height: 100%;
    width: 100%;
    font-size: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
    >span {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    >.whiteButt {
        width: fit-content;
        height: fit-content;
        padding: 0.3vh 0.8vw;
    }
}
.SMsearchDiv {
    padding-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 5vh;
    z-index: 4;
    background-color: var(--tr);
}
.SMmenuWrapper {
    height: 4vh;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    position: relative;
}
.SMmenuButt {
    height: 100%;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--borderHabit);
    border-radius: 50%;
    cursor: pointer;
    @media (hover: hover) {
        &:hover {
            color: var(--tc);
        }
    }

    @media (hover: none) {
        &:active {
            color: var(--tc);
        }
    }
    >svg {
        position: absolute;
        aspect-ratio: 1/1;
        height: 5vh;
        width: 2vw;
    }
}
@media (max-width:800px) {
    .SMmenuButt {
        >svg {
            aspect-ratio: 1/1;
            height: 100%;
            width: 100%;
        }
    }
}
.SMsearch {
    position: relative;
    width: 95%;
    color:var(--borderHabit);
    display: flex;
    align-items: center;
    @media (hover: hover) {
        &:hover {
            color: var(--borderWh);
            >input {
                border: 1px solid var(--borderWh);
            }
        }
    }

    @media (hover: none) {
        &:active {
            color: var(--borderWh);
            >input {
                border: 1px solid var(--borderWh);
            }
        }
    }
    >input {
        @include var.input(var(--interact), var(--tc), var(--borderHabit), 4vh, 24px, var(--accent));
        font-size: 18px;
        width:100%;
        padding-inline-start: 0.5vw;
        &::placeholder {
            color: var(--borderHabit);
        }
        @media (max-width:800px) {
            padding-right: 8vw;
            padding-inline-start: 2vw;
            height: 5vh;
        }
    }
    >svg {
        position: absolute;
        right: 0.5vw;
    }
    @media (max-width: 800px) {
        width: 92%;
        >svg {
            position: absolute;
            right: 2vw;
        }
    }
    &:focus-within {
        color: var(--accent_text);
    }
}

.menuLoader {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
}
.ListWrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    width: 400%;
    transition: transform 0.3s ease-in-out;
    height: 100%;
}
.slide {
    width: 50%;
    height: 100%;
    overflow-y:auto;
    scrollbar-width: thin;
    scrollbar-color: var(--menuButtHover) var(--tr);
    scrollbar-gutter: stable both-edges;
    @media (max-width: 800px) {
        padding: 0 3vw;
    }
}
.SMlist {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: max-height 0.35s ease;
    padding-top: 1vh;
    padding-bottom: 15dvh;
    margin-top: 0.25vh;
    gap: 0.2vh;
    &.nothing {
        margin-top: 2vh;
        color: var(--borderWh);
        align-items: center;
        justify-content: center;
    }
}
.hbListNothingAction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    margin: 2vh 0;
    > a {
        color: var(--accent_text);
    }
}
