@use "../global" as var;

.sideMenu {
    position: fixed;
    width: 19.5vw;
    height: 100%;
    background-color: var(--mc);
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    z-index: 7;
    &.mobileSM {
        width: 100%;
        height: calc(100% - 5vh);
    }
}
.SMsearchDiv {
    padding-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 5vh;
    z-index: 4;
    background-color: var(--mc);
}
.SMmenuWrapper {
    height: 4vh;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    position: relative;
}
.SMmenuButt {
    height: 100%;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--borderHabit);
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        color: var(--borderWh);
        background-color: var(--menuButtHover);
    }
    >svg {
        position: absolute;
        aspect-ratio: 1/1;
        height: 5vh;
        width: 2vw;
    }
    >img.SMmenuAvatar {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
        display: block;
    }
}
.SMmenuButt.active {
    >svg {
        color: var(--tc);
        > circle:nth-of-type(2) {
            color: var(--acsent);
        }
    }
}
.SMprofileMenu {
    top: 100%;
    position: absolute;
    background-color: var(--bgc);
    z-index: 6;
    display: flex;
    flex-direction: column;
    width: 8vw;
    overflow: hidden;
    border-radius: 12px;
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-25%);
    
    &.mobile {
        width: fit-content;
        padding: 0 2vw;
    }
}
.SMprofileButt {
    flex: 1;
    z-index: 6;
    padding: 1vh 0.5vw;
    cursor: pointer;
    &:hover {
        background-color: var(--menuButtHover);
    }
    &.exit {
        display: flex;
        align-items: center;
        >svg {
            height: 1rem;
        }
        &:hover {
            color: var(--notValid);
        }
    }
}
.SMprofileMenu.active {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}
.SMsearch {
    position: relative;
    width: 80%;
    color:var(--borderHabit);
    &:hover {
        color: var(--borderWh);
        >input {
            border: 1px solid var(--borderWh);
        }
    }
    >input {
        @include var.input(var(--bgc), var(--tc), var(--borderHabit), 4vh, 12px, var(--acsent));
        font-size: 18px;
        width:100%;
        padding-inline-start: 0.5vw;
    }
    >svg {
        @include var.svgInInput(4vh, 0,0.5vw);
    }
    &:focus-within {
        color: var(--acsent);
    }
}
.SMtabs {
    background-color: var(--mc);
    padding-top: 0.5vh;
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 100%;
    justify-content: space-around;
    z-index: 3;
    user-select: none;

}
.SMtab {
    text-align: center;
    border-radius: 8px;
    padding: 0.8vh 0;
    color: var(--borderHabit);
    width: 50%;
    cursor: pointer;
    position: relative;
    z-index: 3;

    &:hover {
        color: var(--borderWh);
        background-color: var(--menuButtHover);
    }
}
.SMtab.active {
    border-radius: 8px 8px 0 0;
    color: var(--tc);
}
.SMtab.active.habits {
    border-radius: 8px 8px 0 0;
    color: var(--acsent);
}
.SMfilter {
    position: absolute;
    color: var(--borderHabit);
    left: 0.5vw;
    &:hover {
        color: var(--borderWh);
    }
}
.newMessagesLength {
    position: absolute;
    margin-left: 0.2vw;
    font-size: 14px;
    aspect-ratio: 1/1;
}
.SMline {
    position: relative;
    left: 0;
    width: 50%;
    height: 2px;
    transition: left 0.2s ease;
    background-color: var(--tc);
}
.SMline.habits {
    background-color: var(--acsent);
    left: 50%;
}
.SMfiltersDiv {
    position: absolute;
    top: 10vh;
    width: 50%;
    z-index: 2;
    background-color: var(--bgc);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-8px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    user-select: none;
    &.open {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
    }

    &.message {
        left: 0;
    }

    &.habits {
        left: 50%;
    }
    > div {
        width: 100%;
        text-align: center;
        padding: 0.5vh 0;
        color: var(--borderHabit);
        cursor: pointer;
        &.selected {
            color: var(--borderWhLight);
        }
        &:hover {
            background-color: var(--menuButtHover);
            color: var(--tc);
        }
    }
}
.menuLoader {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
}
.ListWrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    width: 200%;
    transition: transform 0.3s ease-in-out;
    height: 100%;
}

.slide {
    width: 50%;
    height: 100%;
    overflow-y:auto;
    scrollbar-width: thin;
    scrollbar-color: var(--menuButtHover) var(--tr);
    scrollbar-gutter: stable both-edges;
    &.mobileSlide {
        padding: 0 5vw;
    }
}

.SMlist {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: max-height 0.35s ease;
    padding-bottom: 6vh;
    margin-top: 0.5vh;
}
.SMnavDiv {
    position: absolute;
    width: 100%;
    height: 8vh;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
.SMnav {
    pointer-events: all;
    display: flex;
    background-color: var(--buttBg);
    width: 60%;
    height: 5vh;
    border-radius: 20px;
    overflow: hidden;
}
.SMnavButt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: var(--borderWh);
    cursor: pointer;
    &:hover {
        background-color: var(--menuButtHover);
        color: var(--tc);
    }
    >svg {
        width: 40%;
        height: 100%;
    }
}
.plusMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--bgc);
    border-radius: 12px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    &.active {
        transform: translateY(-100%);
        opacity: 1;
        pointer-events: all;
    }
}
.plusMenuButt {
    cursor: pointer;
    padding: 1vh 1vw;
    color: var(--borderWh);
    &:hover {
        color: var(--tc);
        background-color: var(--menuButtHover);
    }
}