@use "../../../scss/global" as var;

.landingFormEmail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.emailCodeWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    >.inpExtraSpan {
        text-align: center;
        display: flex;
        justify-content: center;
    }
}
.emailSendedText {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
}
.codeWrapper {
    position: relative;
    display: flex;
    gap: 8px;
    cursor: text;
}

.hiddenCodeInput {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: text;
}

.codeCell {
    width: 50px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--borderWh);
    border-radius: 10px;
    font-size: 32px;
    font-weight: 600;
    &.active {
        border: 1px solid var(--acsent);
    }
    &.invalid {
        border: 1px solid var(--notValid);
    }
}

.emailEditWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}
.emailButtsWrapper {
    display: flex;
    gap: 4px;
    height: 3.5vh;
}
.emailEditButt {
    color: var(--acsent);
    padding: 0.75vh 1vw;
    display: flex;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: var(--acsent_hov)
    }
}
.emailEditInput {
    @include var.input(var(--tr), var(--acsent), var(--tr), 4vh, 8px, var(--tr), 70%);
    font-size: 22px;
    padding-inline-start: 0.5vw;
    text-align: center;
    @media (max-width: 800px) {
        width: 90%;
        padding-inline-start: 1.5vw;
    }
}