@use "../../../scss/global" as var;

.landing {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}
.landingDiv {
    position: relative;
    margin: 16.5vh auto 11vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    border-radius: 22px;
    background-color: var(--tr);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    @media (max-width: 800px) {
        width: 90vw;
    }
}
.title {
    font-size: 40px;
    position: relative;
    top: 1vh;
    font-weight: 700;
    text-align: center;
    height: 40px;
    >span {
        color: var(--accent_text);
        font-size: 20px;
        position: absolute;
        left: 101%;
        top: 55%;
    }
    @media (max-width:800px) {
        margin-bottom: 1vh;
        >span {
            left: 94%;
            top: 100%;
            margin-left: 4px;
        }
    }
}
.landingFormWrapper {
    position: relative;
    height: 55vh;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    padding-bottom: 2vh;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    @media (max-width: 800px) {
        width: 85vw;
    }        
}

.landingForm {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 0 0 100%;
    scroll-snap-align: start;
    >button {
        @include var.longButt(auto, auto, 0px, 0px, transparent, var(--borderWh), transparent);
        position: absolute;
        bottom: 0;
        background-color: transparent;
        color: var(--borderWh);
        font-size: 18px;
        outline: none;
        border: none;
        text-decoration: none;
        border-radius: 12px;
        padding: 1.25vh 1.35vw;
        &:hover {
            color: var(--tc);
            background-color: var(--menuButtHover);
        }
    }
}
.landingInput {
    @include var.input(var(--mc), var(--tc), var(--borderWh), 4vh, 8px, var(--tc));
    width: 80%;
    margin-top: 1vh;
    position: relative;
    z-index: 2;
    padding-inline-start: 0.4vw;
    &.landingInputPass {
        width: 100%;
        padding-inline-end: 2.5vw;
    }
    &.invalid {
        border-color: var(--notValid);
        &::placeholder {
            color: var(--notValid) !important;
        }
    }
    @media (max-width:800px) {
        width: 80vw;
        padding-inline-start: 2vw;
    }
}
.landingFormWrapper::-webkit-scrollbar {
    display: none;
}
.passWrap {
    position: relative;
    width: 80%;
    overflow: hidden;
    @media (max-width: 800px) {
        width: 80vw;
    }
    > svg {
        position: absolute;
        width: 9%;
        aspect-ratio: 1/1;
        cursor: pointer;
        top: 1.7vh;
        right: 0.2vw;
        z-index: 2;
        color: var(--borderWh);
        &:hover {
            color: var(--tc);
        }
    }
}
.passRules {
    margin-top: 0.5vh;
    display: flex;
    flex-direction: column;
    margin-block-end: 0;
    z-index: 1;
    color: var(--borderWh);
    height: 5vh;
    width: 80%;
    >span {
        color: var(--borderWh);
        position: relative;
        font-size: 14px;
        bottom: 0;
        height: 18px;
        display: flex;
        align-items: center;
        &.valid {
            color: var(--valid);
        }
        &.invalid {
            color: var(--notValid);
        }
    }
    @media (max-width:800px) {
        width: 80vw;
    }
}
.inpExtraSpan {
    position: relative;
    font-size: 14px;
    bottom: 0;
    width: 80%;
    height: 18px;
    display: flex;
    align-items: center;
    &.invalid {
        color: var(--notValid);
    }
    &.loading {
        flex-direction: row;
        color: var(--borderWh);
        >svg {
            animation: spin 1s linear infinite;
        }
    }
    &.valid {
        color: var(--valid);
    }
    @media (max-width:800px) {
        width: 80vw;
    }
}
.checkString {
    color: var(--borderWh);
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 4px;
    height: 3vh;
    user-select: none;
    justify-content: center;
    white-space: nowrap;
    >svg {
        color: var(--accent_text);
    }
    &.notAccepted {
        >svg {
            color: var(--notValid);
        }
    }
}
.acceptSpan {
    color: var(--accent_text);
    text-decoration: underline;
    &:hover {
        color: var(--darker_accent);
    }
}

.landingButts {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
    user-select: none;
    >.loaderSmall {
        width: 15vw;
        height: 4vh;
        margin-bottom: 1vh;
        @media (max-width: 800px) {
            width: 70vw;
        }
    }
}
.greenButt {
    @include var.longButt(15vw, 4vh, 2px, 4px, none, var(--inner_text), var(--tr), var(--accent));
    background:linear-gradient(135deg, var(--accent), var(--grad));
    border: none;
    &:hover {
        box-shadow: 0 0 12px var(--accent), 0 0 24px var(--accent);
    }
}
.whiteButt {
    @include var.longButt(15vw, 4vh, 2px, 4px, #fff, #000, var(--tr), #fff);
    &:hover {
        box-shadow: 0 0 12px #fff, 0 0 24px #fff;
    }
}
.wtbgButt {
    @include var.longButt(auto, auto, 0px, 0px, transparent, var(--borderWh), transparent);
    padding: 0.75vh 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        color: var(--tc);
        text-decoration: none;
        border-radius: 8px;
        &:hover {
            background-color: var(--menuButtHover);
        }
    }
}
.greenButt, .whiteButt {
    user-select: none;
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
    border-radius: 8px;
    gap: 2px;
    @media (max-width: 800px) {
        width: 70vw;
    }
}

.landingFooter {
    position: relative;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1vh;
    flex-direction: column;
    user-select: none;
    >div {
        width: 100%;
        gap: 0.1vw;
        height: 4vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
        color: var(--borderWh);
        @media (max-width:800px) {
            flex-direction: column;
            align-items: center;
            gap: 1vh;
        }
        >a {
            color: var(--tc);
            text-decoration: none;
            padding: 0.75vh 1vw;
            border-radius: 8px;
            color: var(--borderWh);
            &:hover {
                color: var(--tc);
                background-color: var(--menuButtHover);
            }
        }
        >span {
            cursor: pointer;
            color: var(--tc);
            text-decoration: none;
            padding: 0.75vh 1vw;
            border-radius: 8px;
            color: var(--borderWh);
            &:hover {
                color: var(--tc);
                background-color: var(--menuButtHover);
            }
        }
    }
    >.o4studio {
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        align-items: center;
        height: 6vh;
    }
}

.changeSignTheme {
    position: absolute;
    right: 0;
    height: 4vh;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    color: var(--borderWh);
    > svg {
        width: 70%;
        height: 70%;
    }
    &:hover {
        color: var(--tc);
        background-color: var(--menuButtHover);
    }
}
.landingSL {
    @include var.selectList(10vw, 100%, 9%, 0vw, 0.4vh, var(--borderWh), var(--tc), var(--mc), 18px, .75vh, .75vw, 1%, true);
    display: flex;
    align-items: center;
    >input {
        @include var.input(var(--tr), var(--borderWh), var(--tr), 3vh, 0, var(--tr));
        width: 100%;
        border-radius: 8px;
        font-size: 18px;
        cursor: pointer;
        padding: 0.75vh 1vw;
        text-align: center;
        font-weight: 400;
        &:hover {
            background-color: var(--menuButtHover);
            color: var(--tc);
        }
        &:focus-visible {
            background-color: var(--menuButtHover);
            color: var(--tc);
        }
    }
    &:focus-within {
        >svg {
            color: var(--accent_text);
        }
    }
    > div {
        width: 100%;
        > div {
            width: 100%;
            justify-content: center;
        }
    }
    @media (max-width: 800px) {
        width: 20vw;
    }
}