.groupMembers {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    overflow-y:auto;
    scrollbar-width: thin;
    background-color: var(--mc);
    height: fit-content;
    border-radius: 12px;

}
.groupMember {
    cursor: pointer;
    margin: 0.2vh auto;
    width: 100%;
    height: 6vh;
    padding: 0.5vh 0.5vw;
    border-radius: 12px;
    background-color: var(--tr);
    display: flex;
    position: relative;
    border: 1px solid var(--tr);
    align-items: center;
    &:hover {
        background-color: var(--menuButtHover);
        border: 1px solid var(--tc);
    }
    overflow: hidden;
    box-sizing: border-box;
}
.groupMemberPick {
    aspect-ratio: 1/1;
    border-radius: 50%;
    height: 5vh;
    background-color: var(--mc);
    display: flex;
    align-items: center;
    justify-content: center;
}
.groupMemberNoAva {
    aspect-ratio: 1/1;
    border-radius: 50%;
    height: 5vh;
    background-color: var(--mc);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgc);
    > svg {
        height: 60%;
        width: 60%;
    }
}
.groupMemberInfo {
    margin-left: 0.3vw;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.groupMemberRole {
    position: absolute;
    top: 0.2vh;
    right: 0.5vw;
    font-size: 14px;
    color: var(--borderWh);
}
.groupMemberLastOnline {
    font-size: 14px;
    color: var(--borderWh);
}