@keyframes pulseBrightness {
	0% {
		filter: brightness(0.25);
	}
	50% {
		filter: brightness(1);
	}
	100% {
		filter: brightness(0.25);
	}
}
@keyframes highlightFadeWrapper {
    0% {
		background-color: var(--tr);
	}
    50% { 
		background-color: var(--acsent_op); 
	}
    100% { 
		background-color: var(--tr);
	}
}
@keyframes highlightFadeMessage {
    0% {
		background-color: var(--darkerAcsent);
		box-shadow: 0 0 1px var(--darkerAcsent); 
	}
    50% { 
		background-color: var(--acsent); 
		box-shadow: 0 0 5px var(--acsent)
	}
    100% { 
		background-color: var(--darkerAcsent);
		box-shadow: 0 0 1px var(--darkerAcsent)
	}
}
@keyframes highlightFadeReaction {
	0% {
		background-color: var(--darkerAcsent);
	}
	50% {
		background-color: var(--acsent);
	}
	100% {
		background-color: var(--darkerAcsent);
	}
}