@keyframes pulseBrightness {
	0% {
		filter: brightness(0.25);
	}
	50% {
		filter: brightness(1);
	}
	100% {
		filter: brightness(0.25);
	}
}
@keyframes highlightFadeWrapper {
    0% {
		background-color: var(--tr);
	}
    50% { 
		background-color: var(--acsent_op); 
	}
    100% { 
		background-color: var(--tr);
	}
}
@keyframes highlightFadeMessage {
    0% {
		background-color: var(--darkerAcsent);
		box-shadow: 0 0 1px var(--darkerAcsent); 
	}
    50% { 
		background-color: var(--acsent); 
		box-shadow: 0 0 5px var(--acsent)
	}
    100% { 
		background-color: var(--darkerAcsent);
		box-shadow: 0 0 1px var(--darkerAcsent)
	}
}
@keyframes highlightFadeReaction {
	0% {
		background-color: var(--darkerAcsent);
	}
	50% {
		background-color: var(--acsent);
	}
	100% {
		background-color: var(--darkerAcsent);
	}
}
@keyframes loaderSmallAnim {
    0% {
        background-color: #d1d1d1;
        transform: scale(1);
    }
    50% {
        background-color: var(--tc);
        transform: scale(1.3);
    }
    100% {
        background-color: #d1d1d1;
        transform: scale(1);
    }
}
@keyframes floatUp {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	20% {
		opacity: 1;
		transform: translateY(0);
	}	
	80% {
		opacity: 0.5;
		transform: translateY(-20px);
	}
	100% {
		opacity: 0;
		transform: translateY(-30px);
	}
}
@keyframes rainFall {
    from {
        transform: translateY(0%) rotate(0deg);
    }
    to {
        transform: translateY(1000%) rotate(360deg);
    }
}