@use "./_variables" as vars;
@forward "./utils.scss";
@forward "./reset.scss";
@forward "./animations.scss";
@forward "./elements.scss";

:root {
  --bgc: #{vars.$bgc};
  --tc: #{vars.$tc};
  --borderWh: #{vars.$borderWh};
  --mc: #{vars.$mc};
  --menuButtHover: #{vars.$menuButtHover};
  --acsent: #{vars.$acsent};
  --darkerAcsent: #{vars.$darkerAcsent};
  --borderHabit: #{vars.$borderHabit};
  --mess: #{vars.$mess};
  --greenGrad: #{vars.$greenGrad};
  --font: #{vars.$font};
  --tr: #{vars.$tr};
}

/* Генерируем theme/acsent vars ПОСЛЕ :root чтобы они имели приоритет */
@include vars.generate-theme-vars();
@include vars.generate-acsent-vars();
@include vars.generate-decor-vars();
