$bgc: #1d1d1d;
$tc: white;
$borderWh: #a1a1a1;
$font: Arial, Helvetica, sans-serif;
$greenGrad:linear-gradient(135deg, #1bac1b, #a8e63f);
$mc:#222222;
$menuButtHover: #2c2c2c;
$acsentGreen: #13d313;
$darkerAcsent: #10b310;
$borderHabit:#646464;
$notValid: #f44336;
$tr:transparent;
$mess:#272727;