@use "./global.scss" as var;
@use "./habitThemes.scss";
@use "./datepicker.scss";

html, body {
  height: 100%;
  width: 100%;
  font-family: var(--font);
  scrollbar-width: thin;
  scrollbar-color: var(--menuButtHover) transparent;
  overflow: hidden;
}
body {
  background-color: var(--bgc);
  margin: 0;
  color: var(--tc);
}
#root {
  width: 100%;
  height: 100dvh;
  display: flex;
}
.mobile-layout {
  width: 100%;
  height: 100%;
}
.mobile-layout .page-content {
  width: 100%;
}
.app-layout .page-content {
  width: 80vw;
  position: relative;
  left: 20vw;
  > * {
    z-index: 1;
  }
}
.background {
  inset: 0;
  position: absolute;
  z-index: 0;
  overflow: hidden;
  color: var(--darkerAcsent);
  >div {
    position: absolute;
  }
}
.bgImg {
  background-repeat: no-repeat;
  background-size: cover;
}