@use "./variables" as vars;
@use "./mixins";
@use "./reset";
@use "./animations";
@use "./datepicker";
@use "./global";

:root {
  --accent: #00ad09;
  --accent_text:#00ad09;
  --accent_op: #21d42a2a;
  --accent_hov: #21d42a3a;
  --darker_accent: #18ca21;
  --inner_text:#fff;
  --grad: #00ad09;
}

@include vars.generate-theme-vars();
@include vars.generate-accent-vars();
@include vars.generate-grad-vars();
@include vars.generate-decor-vars();
