@use "./global.scss" as var;

.chatDiv {
    width: 70%;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.chatUser {
    border-radius: 0 0 8px 8px;
    height: 6vh;
    display: flex;
    background-color: var(--mc);
    // overflow-x:hidden;
    overflow-y: visible;
    border-bottom: 1px solid var(--bgc);
}
.chatUserBack {
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
        background-color: var(--menuButtHover);
    }
    >svg {
        color: var(--borderHabit);
        position: relative;
        right: 0.1vw;
        height: 100%;
        width: 100%;
    }
}
.chatUserInfo {
    cursor: pointer;
    display: flex;
    border-radius: 8px;
    // flex: 5;
    width: 40%;
    transition: width 0.2s ease;
    &:hover {
        background-color: var(--menuButtHover);
    }
}
.chatUserPick {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    padding-left: 0.5vw;
    margin-right: 0.5vw;
    >svg {
        height: 90%;
        width: 90%;
    }
    >img.chatUserAvatar {
        height: 90%;
        width: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
    }
}
.chatUserName {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-wrap: nowrap;
}
.wasOnline {
    color: var(--borderWh);
}
.chatUserMenu {
    height: 100%;
    display: flex;
    color: var(--borderHabit);
    flex: 1;
    width: 50%;
}
.menuButt {
    // margin: 1%;
    margin: 0.7vh 0.2vw;
    cursor: pointer;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    &:hover {
        color: var(--tc);
        background-color: var(--menuButtHover);
    }
    >svg {
        height: 70%;
        width: 70%;

    }
}
.chatSearchWrapeer {
    flex: 3;
    display: flex;
    position: relative;
    align-items: center;
    >.chatSearch {
        background-color: var(--mc);
        width: 100%;
        border-radius: 8px;
        transition: width 0.2s ease;
        height: 100%;
        display: flex;
        position: relative;
        align-items: center;
        padding: 0 0.5vw;
        >input {
            @include var.input(var(--bgc), var(--tc), var(--borderHabit), 55%, 8px, var(--acsent));
            width: 100%;
            padding-inline-start: 0.5vw;
            padding-inline-end: 2vw;
        }
        >svg {
            position: absolute;
            right: 0.8vw;
        }
        &:focus-within {
            >svg {
                color: var(--acsent);
            }
        }
        &:hover {
            background-color: var(--menuButtHover);
        }
    }
}
.chatSearchDiv {
    position: absolute;
    top: 6vh;
    padding: 0.5vh 0 0.5vh 0.5vw;
    z-index: 2;
    background-color: var(--mc);
    width: 100%;
    transition: height 0.2s ease;
    overflow-x: hidden;
    border-radius: 8px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    // max-height: 0;
    opacity: 0;
    pointer-events: none;
}
.chatSearchDiv.open {
    opacity: 1;
    pointer-events: auto;
}
.chatSearchDiv.closed {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
}
.chatSearchList {
    width: 100%;
    overflow-y:auto;
    scrollbar-width: thin;
    max-height: 22vh;
    display: flex;
    flex-direction: column;
}
.chatSearchInfo {
    display: flex;
    color: var(--tc);
    align-items: center;
    font-size: 18px;
    justify-content: space-between;
    >div > button {
        color: var(--tc);
        outline: none;
        border: none;
        border-radius: 6px;
        background-color: var(--mc);
        width: 2vw;
        aspect-ratio: 1/1;
        >svg {
            width: 100%;
            position: relative;
            height: 100%;
        }
        &:hover {
            background-color: var(--menuButtHover);
        }
    }
}
.chatSearchItem {
    display: flex;
    height: 5vh;
    margin-bottom: 0.5vh;
    border-radius: 8px;
    gap: 0.5vw;
    position: relative;
    width: 100%;
    padding: 0.5vh 0.5vw 0 0.5vw;
    cursor: pointer;
    &:hover {
        background-color: var(--menuButtHover);
    }
}
.chatSearchPic {
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
    >img {
        width: 100%;
        height: 100%;
        object-fit:cover;
        border-radius: 50%;
    }
}
.chatSearchItemInfo {
    position: relative;
    width: 93%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chatSearcSender {
    color: #e0e0e0;
    display: flex;
    justify-content: space-between;
}
.chatSearchText {
    display: flex;
    width: 100%;
    position: relative;
    color: var(--borderWh);
    >span {
        flex: 1 1 auto;
        min-width: 0;
        white-space: nowrap;        // не переносим на новую строку
        overflow: hidden;           // скрываем лишнее
        text-overflow: ellipsis;    // показываем "..."
    }
}
.chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    position: relative;
    right: 2vw;
    scrollbar-color: var(--menuButtHover) var(--tr);
    padding: 0 2vw 3vh;
    width: calc(100% + 4vw);
}
.messageWrapper {
    margin-top: 1vh;
    width: 100%;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.dateDivider {
    width: 100%;
    text-align: center;
    color: var(--borderWh);
    font-size: 0.9rem;
    margin: 1vh 0;
    padding: 0.2vh 0.5vw;
    user-select: none;
    opacity: 0.9;
}
.message {
    max-width: 25vw;
    width: fit-content;
    padding: 0.5vh 0.5vw;
    &.ur {
        background-color: var(--mess);
        border-radius: 12px 12px 12px 0;
        >.messageDate {
            color: var(--borderWh);
        }
    }
    &.my {
        align-self: flex-end;
        position: relative;
        background-color: var(--darkerAcsent);
        border-radius: 12px 12px 0 12px;
        display: flex;
        flex-direction: column;
        color: white;
        >.messageDate {
            color: #e0e0e0;
            align-self: flex-end;
        }
    }
}
.message.highlight {
    animation: highlightFade 2s ease;
}
.messageText {
    max-width: 25vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
.chatTAWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    bottom: 2vh;
}
.chatTA {
    resize: none;
    width: 100%;
    background-color: var(--mc);
    color: var(--tc);
    font-size: 16px;
    height: 7vh;
    border-radius: 12px;
    padding: 0.5vh 7vw 0.5vh 0.5vw;
    box-sizing: border-box;
    overflow-y: hidden;
}
.chatTAMenu {
    position: absolute;
    right: 1vw;
    display: flex;
    bottom: 1vh;
    width: auto;
    height: 5vh;
    justify-content: space-between;
    >div {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        cursor: pointer;
        border-radius: 50%;
        &:hover {
            background-color: var(--acsent);
            >.chatFile {
                color: var(--tc);
            }
        }
    }
    >svg {
        width: 100%;
        height: 100%;
    }
}
.chatFile {
    color: var(--borderHabit);
    stroke-width: 2.5px;
}
.chatSend {
    fill: currentColor;
}