@use "./global.scss" as *;

.chatDiv {
    width: 70%;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.chatUser {
    border-radius: 0 0 8px 8px;
    height: 6vh;
    display: flex;
    background-color: $mc;
}
.chatUserBack {
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
        background-color: $menuButtHover;
    }
    >svg {
        color: $borderHabit;
        position: relative;
        right: 0.1vw;
        height: 100%;
        width: 100%;
    }
}
.chatUserInfo {
    cursor: pointer;
    display: flex;
    border-radius: 8px;
    flex: 6;
    &:hover {
        background-color: $menuButtHover;
    }
}
.chatUserPick {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    padding-left: 0.5vw;
    >svg {
        height: 90%;
        width: 90%;
    }
}
.chatUserName {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.wasOnline {
    color: $borderWh;
}
.chatUserMenu {
    height: 100%;
    display: flex;
    color: $borderHabit;
    >div {
        margin: 10%;
        cursor: pointer;
        flex: 1;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40%;
        &:hover {
            color: $tc;
            background-color: $menuButtHover;
        }
        >svg {
            height: 70%;
            width: 70%;

        }
    }
}
.chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: $menuButtHover $tr;
}
.messageWrapper {
    margin-top: 1vh;
    width: 100%;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.message {
    max-width: 25vw;
    width: fit-content;
    padding: 0.5vh 0.5vw;

    &.ur {
        background-color: $mess;
        border-radius: 12px 12px 12px 0;
        >.messageDate {
            color: $borderWh;
        }
    }
    &.my {
        align-self: flex-end;
        position: relative;
        background-color: $darkerAcsent;
        border-radius: 12px 12px 0 12px;
        display: flex;
        flex-direction: column;
        >.messageDate {
            color: #c7eec2;
            align-self: flex-end;
        }
    }
}
.chatTAWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    bottom: 2vh;
}
.chatTA {
    resize: none;
    width: 100%;
    background-color: $mc;
    color: $tc;
    font-size: 16px;
    height: 7vh;
    border-radius: 12px;
    padding: 0.5vh 7vw 0.5vh 0.5vw;
    scrollbar-width: none;
}
.chatTAMenu {
    position: absolute;
    right: 1vw;
    display: flex;
    bottom: 1vh;
    width: auto;
    height: 5vh;
    justify-content: space-between;
    >div {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        cursor: pointer;
        border-radius: 50%;
        &:hover {
            background-color: $acsentGreen;
            >.chatFile {
                color: $tc;
            }
        }
    }
    >svg {
        width: 100%;
        height: 100%;
    }
}
.chatFile {
    color: $borderHabit;
    stroke-width: 2.5px;
}
.chatSend {
    fill: currentColor;
}