@use "./global" as var;

.emojiNet {
    background-color: var(--bgc);
    padding: 0.5vh 0.25vw;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.5vh;
    border-radius: 12px;
    @media (max-width: 800px) {
        grid-template-columns: repeat(4, 1fr);
    }
}