@use "./global.scss" as var;

.confirmDiv {
    @include var.centerTopModal;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: var(--tc);
}
.titleConfirm {
    font-size: 48px;
    position: absolute;
    top: 1vh;
    font-weight: 700;
    min-height: 10vh;
    text-align: center;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
}

.pageLoader {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tr);
    z-index: 2;
    position: relative;
}
.loading{
    position: relative;
    // right: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    > div {
        content: "";
        height: 30vh;
        aspect-ratio: 1/1;
        position: relative;
        inset: 0;
        background-image: url("/favicon.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: brightness(0.25);   
        opacity: 0.8;
        z-index: 1;
        background-size: 150%;
        animation: pulseBrightness 2s infinite ease-in-out;
    }
    > span {
        position: relative;
        color: white;
        font-size: 24px;
        z-index: 1;
    }
}
.blackout {
    position: fixed;
    inset: 0;
    z-index: 11;
    background-color: #00000080;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.imgPrevDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    padding: 1vh 1vw;
    >img {
        max-width: 90vw;
        max-height: 90vh;
        width: auto;
        height: auto;
        object-fit: contain;
    }
}
.minLoader {
    content: "";
    aspect-ratio: 1/1;
    position: relative;
    inset: 0;
    opacity: 0.8;
    height: 100%;
    animation: pulseBrightness 2s infinite ease-in-out;
    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.darkLayout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10 !important;
    background-color: #00000080;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.darkLayoutDIv {
    height: 48%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--borderWh);
    background-color: var(--bgc);
    border-radius: 12px;
    font-size: 20px;
    > svg {
        margin: 14% auto 2%;
        width: 50%;
        height: 50%;
    }
}