@use "./global.scss" as var;

.goalsDiv {
    width: 20vw;
}
.addGoalButtDiv {
    width: 80%;
    margin-top: 1vh
}
.addGoalButt {
    @include var.longButt(100%, 5vh, 1vh, 1vw, var(--tr), var(--borderWh), var(--tr), var(--tr));
    display: flex;
    align-items: center;
    font-size: 20px;
    &:hover {
        color: var(--tc);
    }
}
