@use "./global.scss" as var;

.habitMenu {
    width: 32vw;
    height: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statsMain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statsSpan {
    font-size: 20px;
    padding: 1vh 1.5vw 1vh 0.5vw;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &:hover{
        background-color: var(--menuButtHover);
    }
}
.mainSearchDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
    justify-content: space-between;
    height: 4vh;
}
.mainSearchWrapper {
    flex: 8;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    >svg {
        position: absolute;
        right: 0;
        color: var(--borderHabit);
        user-select: none;
    }
}
.mainSearchInput {
    background-color: var(--tr);
    height: 100%;
    padding: 1vh 0;
    border: none;
    color: var(--tc);
    border-bottom: 1px solid var(--borderHabit);
    outline: none;
    width: 100%;
    font-size: 20px;
    z-index: 2;
    &:focus-visible {
        border: none;
        border-bottom: 1px solid var(--tc);
    }
}
.mainSearchWrapper:focus-within > svg {
    color: var(--tc);
}
.habitsRefinhWrapper {
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 6px;
    flex: 2;
    user-select: none;
}
.refinButt {
    height: 100%;
    z-index: 2;
    display: flex;
    padding: 0 0.5vw;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    color:var(--borderHabit);
    cursor: pointer;
    position: relative;
    &:hover{
        color: var(--tc);
    }
}
.habitsRefinhDiv {
    transform: translate(-15%, -10%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    position: absolute;
    width: fit-content;
    pointer-events: none;
    background-color: var(--mc);
    z-index: 1;
    border-radius: 6px;
    border: 1px solid var(--borderHabit);
    display: flex;
    flex-direction: column;
    &.active {
        opacity: 1;
        transform: translate(-15%, 10%);
        pointer-events: auto;
    }
}
.habitsRefin {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: start;
    padding: 0.5vh 0.5vw;
    color: var(--borderWh);
    &:hover {
        color: var(--tc);
    }
    > svg {
        cursor: pointer;
    }
    >label {
        padding-inline-start: 0.2vw;
        cursor: pointer;
    }
}


