@use "./global.scss" as var;

.themeHabit-default {
  @include var.themeHabit(var(--tr), var(--tr), var(--menuButtHover), var(--borderWh), none, var(--borderHabit), var(--tc), var(--tc), transparent, var(--tc), var(--borderWh));
}

