@use "./global.scss" as var;

.header {
    position: sticky;
    top: 0;
    left: 0;
    height: 5vh;
    width: 100%;
    background-color: var(--mc);
    display: flex;
    z-index: 8;
}
.menuShowButt {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    >svg {
        height: 3vh;
        width: auto;
        color: var(--borderHabit);
    }
    &:active >svg {
        color: var(--borderWh);
    }
}
.titleHeader {
    font-size: 24px;
    font-weight: 600;
    margin-left: 18%;
    align-self: center;
}