@use "./global.scss" as var;

.title {
    font-size: 40px;
    position: relative;
    top: 1vh;
    font-weight: 700;
    text-align: center;
    margin-bottom:2vh;
}
.landing {
    width: 100%;
    height: 100%;
}
.landingDiv {
    @include var.centerTopModal;
    width: 25vw;
    height: 60%;
    border-radius: 22px;
    background-color: var(--mc);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &.mobile {
        width: 90vw;
    }
    
}
.landingForm {
    position: relative;
    height: 49vh;
    width: 20vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    padding-bottom: 2vh;

    &.mobile {
        width: 85vw;
    }

    >form {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        > input {
            @include var.input(var(--mc), var(--tc), var(--borderWh), 4vh, 8px, var(--tc));
            margin: 2vh 2.5vw 0 2.5vw;
            width: 15vw;
            position: relative;
            z-index: 2;
            
            &.mobile {
                width: 70vw;
            }
        }
        >button {
            position: absolute;
            bottom: 0;
            width:fit-content;
            background-color: transparent;
            color: var(--borderWh);
            font-size: 18px;
            outline: none;
            border: none;
            &:hover {
                color: var(--tc);
            }
        }
    }
}
.landingButts {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
}

.whiteButt {
    @include var.gradButt(15vw, 4vh, 2px, 4px, (135deg, #ffffff, #ffffff), (135deg, #ffffff, #ececec), black, 20px #ffffff, black);
    margin-bottom: 1vh;
    &.mobile {
        width: 70vw;
    }
}
.greenButt {
    @include var.gradButt(15vw, 4vh, 2px, 4px, (135deg, #27c827, #0eb408), (135deg, #27c827, #d3ff6f), var(--tc), 20px #70ff70, #2b9c2b);
    margin-bottom: 0.2vh;
    &.mobile {
        width: 70vw;
    }
}
.wtbgButt {
    @include var.longButt(auto, auto, 0px, 0px, transparent, var(--tc), transparent);
    &:hover {
        text-shadow: 0 0 5px white;
    }
}
.passWrap {
    margin: 2vh 2.5vw 0 2.5vw;
    position: relative;
    width: 15vw;
    height: 4vh;
    overflow: hidden;
    transition: height 0.3s ease;
    &.mobile {
        width: 70vw;
    }
    > input {
        margin: 0 !important;
        padding-inline-end: 2vw;
        @include var.input(var(--mc), var(--tc), var(--borderWh), 4vh, 8px, var(--tc));
        width: 15vw;
        position: relative;
        z-index: 2;
        &.mobile {
            width: 70vw;
        }
    }
    > svg {
        position: absolute;
        width: 9%;
        aspect-ratio: 1/1;
        cursor: pointer;
        top: 0.6vh;
        right: 0.5vw;
        z-index: 2;
        color: var(--borderWh);
        &:hover {
            color: var(--tc);
        }
    }
}
.passWrap.showRules {
    height: 13vh;
}
.passRules {
    margin-top: 1vh;
    margin-block-end: 0;
    z-index: 1;
    top: -1vh;
    position: absolute;
    color: var(--borderWh);
    height: 0;
    transition: top 0.3s ease;
}
.passRules.active {
    top: 4vh;
    height: fit-content;
}
.landingFooter {
    position: absolute;
    font-size: 16px;
    width: 100%;
    bottom: 2vh;
    display: flex;
    align-items: center;
    gap: 1vh;
    flex-direction: column;
    >div {
        width: 100%;
        gap: 0.1vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        >a {
            color: white;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        >span {
            cursor: pointer;
        }
    }
}
.landingFormConfEmail {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    > div > *{
        display: block;
        text-align: center;
        margin-bottom: 2vh;
        width: 20vw;
    }
}