@keyframes messageSlideIn {
    0% {
        transform: translateX(100%); // полностью за экраном
        opacity: 0;
    }
    100% {
        transform: translateX(0); // на месте
        opacity: 1;
    }
}

@keyframes messageSlideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.notification {
    position: fixed;
    right: 2vw;
    top: 5vh;
    min-height: 9vh;
    min-width: 20vw;
    max-width: 25vw;
    border-radius: 12px;
    z-index: 15;
    box-shadow: 0 4px 8px #00000033;
    background-color: #252525;
    border: 2px solid #9e9e9e;
    cursor: pointer;
}

.notificationActive {
    animation: messageSlideIn 0.5s ease forwards;
}

.notificationHide {
    animation: messageSlideOut 0.5s ease forwards;
}

#notificationHead {
    padding: 2%;
    padding-left: 4%;
    margin: 0;
    font-size: 18px;
}

#notificationBody {
    font-size: 16px;
    margin-left: 4%;
    margin-top: 2%;
}
