@keyframes messageSlideIn {
    0% {
        transform: translateX(-50%) translateY(-500%);
        opacity: 0;
    }
    100% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}

@keyframes messageSlideOut {
    0% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-500%);
        opacity: 0;
    }
}

.notification {
    position: fixed;
    top: 1vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    min-width: 50vw;
    max-width: 65vw;
    padding: 0.25vh 0.25vw;
    border-radius: 6px;
    z-index: 15;
    box-shadow: 0 4px 8px #00000033;
    align-items: center;
    cursor: pointer;
    &.error {
        background-color: var(--noteErr);
    }
    &.success {
        background-color: var(--noteSuc);
    }
    &.info {
        background-color: var(--bgc);
    }
}

.notificationActive {
    animation: messageSlideIn 0.5s ease forwards;
}

.notificationHide {
    animation: messageSlideOut 0.5s ease forwards;
}

.notificationHead {
    font-size: 18px;
    border-right: 1px solid var(--borderWhLight);
    padding: 0.5vh 0.25vw 0.5vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.notificationBody {
    font-size: 16px;
    padding: 0.5vh 0.35vw;
}
