@use "./global" as var;

.PostDiv {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}
.Post {
    background-color: var(--mc);
    border-radius: 12px;
    padding: 1vh 0.5vw;
    max-height: 50vh;
    position: relative;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    &.mobile {
        padding: 0.5vh 1vw;
    }
}
.PostHabit {
    min-width: 40%;
    width: fit-content;
    max-width: 70%;
    display: flex;
    align-items: center;
    background-color: var(--acsent);
    border-radius: 6px;
    cursor: pointer;
    margin-top: 0.6vh;
    height: 3vh;
    padding: 0 0.2vw 0 ;
    position: relative;
}
.aphIcon {
    display: flex;
    align-items: center;
    height: 80%;
    margin-right: 0.3vw;
    >svg {
        height: 100%;
    }
}
.aphGo {
    position: absolute;
    right: 0.2vw;
    height: 60%;
}
.PostText {
    padding: 0;
    margin-top: 0.4vh;
    white-space: pre-wrap;
    line-height: 1.2rem;
    font-size: 16px;
    font-family: var(--font);
    resize: none;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--tr);
    color: var(--tc);
    border: none;
    outline: none;
    max-height: 50vh;
    overflow: auto;
    display: block;
    field-sizing: content;
    >a {
        color: var(--acsent);
    }
}
.PostBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4vh;
}
.PostDate {
    color: var(--borderHabit);
    display: flex;
    align-items: center;
    height: 100%;
}
.PostButts {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 24px;
    gap: 0.2vw;
    margin-right: 0.2vw;
}
.PostButt {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vh 0.3vw;
    cursor: pointer;
    border-radius: 8px;
    &:hover {
        background-color: var(--menuButtHover);
        color: var(--tc);
    }
}
.PostInteract {
    display: flex;
    align-items: center;
    gap: 0.4vw;
    >div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5vh 0.3vw;
        cursor: pointer;
        border-radius: 8px;
        gap: 0.2vw;
        &:hover {
            background-color: var(--menuButtHover);
        }
        >svg {
            font-size: 24px;
        }
    }
}
.PostLikes {
    &:hover {
        >svg {
            color: #d60000;
        }
    }
}
.PostComment {
    &:hover {
        >svg {
            color: var(--acsent);
        }
    }
}
.postMediaGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5vw;
    margin-top: 0.5vh;
}

.postFileGrid {
    width: 100%;
    max-height: 14vh;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    .postFilePreview {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
    .postFileOther {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-size: 0.8rem;
        padding: 0.5vh 0;
        background-color: var(--acsent);
        border-radius: 6px;
        gap: 0.2vh;
        .postFileName {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 90%;
        }
    }
    &:hover .chatTAFileOverlay {
        opacity: 1;
        margin: 0;
    }
}
.postUser {
    display: flex;
    align-items: center;
    gap: 0.3vw;
    cursor: pointer;
    width: fit-content;
    margin-bottom: 0.6vh;
    color: var(--tc);
    &:hover {
        text-decoration: underline;
    }
}
.postAvatar {
    height: 3vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    >img {
        height: 100%;
        aspect-ratio: 1/1;
    }
}