@use "./global.scss" as var;

.redHabit {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
}
.saveHabit {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1vh;
    height: 2vh;
    >span {
        position: absolute;
        right: 5vw;
        top: 1vh;
        font-size: 18px;
        color: var(--tc);
        opacity: 0;
        animation: fadeIn 0.5s ease-in-out forwards, pulseBrightness 2s ease-in-out infinite;
    }
}
.backButton {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1vh 1.5vw 1vh 0.5vw;
    font-size: 20px;
    border-radius: 6px;
    flex: 1 ;
    cursor: pointer;
    &:hover {
        background-color: var(--menuButtHover);
    }
}
.habitWrapperIcon {
    display: flex;
    width: calc(25vw * 0.8);
    height: 6vh;
}
.habitIconWrapper {
    height: 100%;
    width: 20%;
    >svg {
        height: 100%;
        width: 100%;
        color: var(--darkerAcsent);
    }
}
.addHabbitCheckBox.redHabitCheckbox {
    margin-bottom: 0;
}
.ongoingInput {
    font-size: 16px;
}
.habitButts {
    display: flex;
    position: relative;
    width: 80%;
    margin-top: 1vh;
    >div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0.5vw;
        padding: 1vh;
        aspect-ratio: 1/1;
        border-radius: 6px;
        cursor: pointer;
        >svg {
            color: var(--borderHabit);
            font-size: 30px;
        }
        &:hover {
            background-color: var(--menuButtHover);
            >.pinHabit {
                color: var(--tc);
            }    
            >.delHabit {
                color: #c40000;
            }
        }
    }
}
.inpWrapperRedHabit {
    width: 80%;
    color: var(--borderHabit);
    margin-bottom: 1vh;
    >label {
        padding-inline-start: 0.5vw;
    }
    &:focus-within {
        color: var(--acsent)
    }
}
.redHabitSL {
    @include var.selectList(100%, 4vh, 9%, 0.3vw, 0.8vh, var(--borderWh), var(--tc), var(--bgc), 18px, 1vh, 1vw, 10%);
    >input {
        @include var.input(var(--tr), var(--tc), var(--tr), 4vh, 0, var(--tr));
        border-bottom: 2px solid var(--borderHabit);
        width: 100%;
        font-size: 18px;
        cursor: pointer;
        &:focus-visible {
            border-bottom: 2px solid var(--acsent);
        }
    }
    &:focus-within {
        >svg {
            color: var(--acsent);
        }
    }
}
.doneButt {
    @include var.longButt(80%, 4.5vh, 1vh, 1vw, var(--acsent), var(--tc), var(--tr), var(--darkerAcsent));
    display: flex;
    align-items: center;
    font-size: 20px;
}
