@use "./mixins" as var;

.selector {
    display: flex;
    height: 4vh;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    border-radius: 24px;
    background-color: var(--interact);
    touch-action: none;
    @media (max-width: 800px) {
        height: 5vh;
    }
}
.selectedItem {
    position: absolute;
    border-radius: 24px;
    background: linear-gradient(134deg, var(--accent), var(--grad));
    height: 100%;
    cursor: pointer;
    transition: transform .2s ease;
    pointer-events: none;
    z-index: 2;
}
.selectorElement {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 24px;
    color: var(--tc);
    user-select: none;
    >span {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        gap: 4px;
        height: 20px;
        &.chosen {
            color: var(--inner_text);
            pointer-events: none;
        }
    }
    @media (hover:hover) {
        &:hover {
            background-color: var(--menuButtHover);
            color: var(--tc);
        }
    }    
}