@use "./global.scss" as *;

.statsDiv {
    position: relative;
    min-height: 100%;
    padding: 2vh 2vw 0;
    display: flex;
    flex-direction: row;
}
.statsCal {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-right: 2vw;
}