@use "./global" as var;

.svgRain {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 2;
}
.rainItem {
    position: absolute;
    top: -26px;
    animation:rainFall linear infinite;
    opacity: 0.7;
}