@use "../../../scss/mixins" as var;

.seekBarWrapper {
    background-color: var(--interact);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    padding: 2vh 0.5vw;
    user-select: none;
    &.disabled {
        pointer-events: none;
        > .seekBarLine {
            > .seekBarFill {
                background: var(--borderHabit);
            }
            >.seekBarDot {
                background: var(--borderHabit);
            }
            >.seekBarCurrent {
                color: var(--borderHabit);
            }
        }
        >.seekBarBottom >.currentValue {
            color: var(--borderHabit);
        }
    }
    @media (max-width: 800px) {
        padding: 2vh 3vw;
    }
}
.seekBarValue {
    color: var(--accent_text);
}
.seekBarLine {
    position: relative;
    margin: 0 auto;
    height: 4px;
    background: var(--menuButtHover);
    border-radius: 999px;
    width: 96%;
    cursor: pointer;
    touch-action: none;
    @media (max-width: 800px) {
        height: 8px;
    }
}
.seekBarFill {
    position: absolute;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(135deg, var(--accent), var(--grad));
}

.seekBarDot {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(135deg, var(--accent), var(--grad));
    @media (max-width: 800px) {
        height: 24px;
        width: 24px;
    }
}

.seekBarCurrent {
    position: absolute;
    bottom: calc(100% + 10px);
    transform: translateX(-50%);
    white-space: nowrap;
    color: var(--accent_text);
    font-size: 14px;
    background-color: var(--bgc);
    padding: 5px 7px;
    border-radius: 12px;
    transition: opacity .3s ease;
}

.seekBarBottom {
    display: flex;
    justify-content: space-between;
    color: var(--borderHabit);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    >.currentValue {
        color: var(--accent_text);
    }
}
.seekBarHoverValue {
    position: absolute;
    bottom: calc(100% + 10px);
    transform: translateX(-50%);
    background: var(--mc);
    color: var(--tc);
    padding: 2px 8px;
    border-radius: 8px;
    font-size: 13px;
    pointer-events: none;
    white-space: nowrap;
}