@use "../../../scss/global" as var;
@use "./AccHabits.scss";
@use "./AccPosts.scss";
@use "./AccMedia.scss";

.accDiv {
    width: 60%;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.accInfo {
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    position: relative;
    padding: 1vh 0.5vw;
}
.accPic {
    left: 0.5vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    height: 10vh;
    background-color: var(--mc);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    > svg {
        height: 80%;
        width: 80%;
    }
}
.avatarImg {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 50%;
}
.accPicksfileInput {
    display: none;
}
.accInfoNames {
    flex: 1;
    margin-left: 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    >div {
        color: var(--borderHabit);
        >input {
            background-color: var(--tr);
            outline: none;
            border: none;
            max-width: fit-content;
        }
    }
}
.accOnlineStauts {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    &.online {
        color: var(--tc);
    }
    &.offline {
        color: var(--borderHabit);
    }
}
.nameInput {
    font-size: 30px;
    color: var(--tc) !important;
}
.nickInput {
    color: var(--borderHabit);
    font-size: 18px;
}
.accInfoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.accInfoRedButt {
    right: 0;
    height: 4vh;
    padding: 1vh 0;
    width: 12vw;
    color: var(--borderWh);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--buttBg);
    cursor: pointer;
    &:hover {
        background-color: var(--menuButtHover);
        color: var(--tc);
    }
}

.accExtraInfoWrapper {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    color: var(--borderHabit);
    >label {
        width: 100%;
        padding-left: 1vw;
    }
    &:focus-within {
        color: var(--acsent);
    }
}
.extraInfoInput {
    height: 2rem;
    scrollbar-width: none;
    resize: none;
    background-color: var(--tr);
    border: none;
    color: var(--tc);
    font-size: 18px;
    outline: none;
    &:focus-visible {
        border-bottom: 1px solid var(--acsent);
    }
}
.accExtraInfo {
    display: flex;
    >div {
        flex: 1;
    }
}

.accContentSelector {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
}
.accContentSelect {
  display: flex;
  height: 5vh;
}
.accContentButt {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: var(--borderWh);
    font-size: 20px;
    border-radius: 12px;
    &:hover {
        background-color: var(--menuButtHover);
        color: var(--tc);
    }
    &.active {
        border-radius: 12px 12px 0 0;
    }
    &.habitsActive {
        color: var(--acsent);
    }    
    &.sendedActive {
        color: var(--tc);
    }
    &.postsActive {
        color: #a508e4;
    }
}
.accContentLine {
    height: 3px;
    position: relative;
    >div {
        transition: left 0.2s ease, background-color 0.2s ease;
        position: absolute;
        height: 100%;
    }
}

.sendedLine {
    left: 0;
    width: 33%;
    background-color: var(--tc);
}

.habitsLine {
    left: 33.5%;
    width: 33%;
    background-color: var(--acsent);
}

.postsLine {
    left: 67%;
    width: 33%;
    background-color: #a508e4;
}

.myAccCL {
    &.habitsLine {
        left: 0;
        width: 50%;
    }
    &.postsLine {
        left: 50%;
        width: 50%;
    }
}

.accNoPrivateAccess {
    margin-top: 2vh;
    width: 100%;
    font-size: 24px;
    text-align: center;
    color: var(--borderHabit);
}
.accContent {
    display: flex;
    flex: 1 1 auto; // позволяет уменьшаться при малом контенте
    overflow: auto; // скролл внутри при переполнении
    padding: 1vh 0;
}