@use "../../../scss/global" as var;

.accHabits {
    display: flex;
    flex-direction: column;
    width: 100%;
    // gap: 0.8vh;
    overflow-y:auto;
    scrollbar-width: thin;
}
.accHabitsInfo {
    display: flex;
}
.accHabitsList {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    background-color: var(--mc);
    border-radius: 12px;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 0.2vh;
}