.accMedia {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
    bottom: 0.5vh;
}
.accMediaGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0.5vh 0.5vw;
    grid-auto-rows: 1fr;
    grid-gap: 0.5vh 0.5vw;
}

.accMediaItem {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: 12px;
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.05);
    }
}

.accMediaPreview {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.accMediaOther {
    text-decoration: none;
    color: var(--tc);
    font-size: 0.9rem;
    padding: 10px;
    text-align: center;
    display: block;
    border-radius: 6px;

}