.accMedia {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15vh, 1fr));
    gap: 8px;
    width: 100%;
    padding: 8px 0;
}

.accMediaItem {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--bg2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.accMediaPreview {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.accMediaItem:hover .accMediaPreview {
    transform: scale(1.05);
}

.accMediaOther {
    text-decoration: none;
    color: var(--tc);
    font-size: 0.9rem;
    padding: 10px;
    text-align: center;
    display: block;
}