@use "../../../scss/global" as var;

.accPosts {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    gap: 0.8vh;
    overflow-y:auto;
    scrollbar-width: thin;
    position: relative;
    padding-bottom: 1vh;
}
.apEmojiBar {
    width: 80%;
    z-index: 9;
    background-color: var(--bgc);
    position: absolute;
}
