@use "../../../scss/global" as var;

.accPosts {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    gap: 0.8vh;
    overflow-y:auto;
    scrollbar-width: thin;
    position: relative;
}
.accPostDiv {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}
.accPost {
    background-color: var(--mc);
    border-radius: 12px;
    padding: 1vh 0.5vw;
    max-height: 50vh;
    position: relative;
}
.accPostHabit {
    min-width: 40%;
    width: fit-content;
    max-width: 70%;
    display: flex;
    align-items: center;
    background-color: var(--acsent);
    border-radius: 6px;
    cursor: pointer;
    height: 3vh;
    padding: 0 0.2vw 0 ;
    position: relative;
}
.aphIcon {
    display: flex;
    align-items: center;
    height: 80%;
    margin-right: 0.3vw;
    >svg {
        height: 100%;
    }
}
.aphGo {
    position: absolute;
    right: 0.2vw;
    height: 60%;
}
.accPostText {
    padding: 0;
    margin-top: 0.4vh;
    white-space: pre-wrap;
    line-height: 1.2rem;
    font-size: 16px;
    font-family: var(--font);
    resize: none;
    width: 100%;
    background-color: var(--tr);
    color: var(--tc);
    border: none;
    outline: none;
    >a {
        color: var(--acsent);
    }
}
.accPostBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4vh;
    margin-top: 0.4vw;
}
.accPostDate {
    color: var(--borderHabit);
    display: flex;
    align-items: center;
    height: 100%;
}
.accPostButts {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 24px;
    gap: 0.2vw;
    margin-right: 0.2vw;
}
.accPostButt {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vh 0.3vw;
    cursor: pointer;
    border-radius: 8px;
    &:hover {
        background-color: var(--menuButtHover);
        color: var(--tc);
    }
}
.accPostInteract {
    display: flex;
    align-items: center;
    gap: 0.4vw;
    >div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5vh 0.3vw;
        cursor: pointer;
        border-radius: 8px;
        gap: 0.2vw;
        &:hover {
            background-color: var(--menuButtHover);
        }
        >svg {
            font-size: 24px;
        }
    }
}
.accPostLikes {
    &:hover {
        >svg {
            color: #d60000;
        }
    }
}
.accPostComment {
    &:hover {
        >svg {
            color: var(--acsent);
        }
    }
}
.postMediaGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5vw;
    margin-top: 0.5vh;
}

.postFileGrid {
    width: 100%;
    max-height: 14vh;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    .postFilePreview {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
    .postFileOther {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-size: 0.8rem;
        padding: 0.5vh 0;
        background-color: var(--acsent);
        border-radius: 6px;
        gap: 0.2vh;
        .postFileName {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 90%;
        }
    }
    &:hover .chatTAFileOverlay {
        opacity: 1;
        margin: 0;
    }
}
.apEmojiBar {
    width: 80%;
    z-index: 9;
    position: absolute;
    background-color: var(--bgc);
}
